{% extends "base.html" %}

{% block body %}

<h2>Forms</h2>
<ol>
    <li><a href="{% url dp_summary_edit %}">DP Summary Form</a></li>
    <li><a href="{% url dp_ratings_edit %}">DP Ratings Form</a></li>
    <li><a href="{% url gov_ratings_edit %}">Gov Ratings Form</a></li>
    <li><a href="{% url admin:submissions_mdgdata_changelist %}">MDG Data</a></li>
    <li><a href="{% url admin:submissions_country8dpfix_changelist %}">8DP Fix</a></li>
</ol>
<h2>Views</h2>
<ol>
    <li><a href="{% url agency_export %}">Agency Export</a></li>
    <li><a href="{% url country_export %}">Country Export</a></li>
    <li><a href="{% url agency_questionnaire %}">Raw DP Questions</a></li>
    <li><a href="{% url agency_questionnaire_cols %}">Raw DP Questions (Cols)</a></li>
    <li><a href="{% url gov_questionnaire %}">Raw Gov Questions</a></li>
    <li><a href="{% url agency_country_ratings %}">Agency Country Ratings</a></li>
</ol>
<h2><a href="{% url highlevelgraphs %}">High-level Graphs</a></h2>

<h2>Graphs (by Agency)</h2>
<table>
    <tr>
        <th>Agency</th>
        <th>Graph</th>
        <th>Abs Graph</th>
        <th>Table</th>
    </tr>
    {% for agency in agencies %}
    <tr>
        <td>{{ agency.agency }}</td>
        <td><a href="{% url agencygraphs agency.agency %}">Ratio Graph</a></td> 
        <td><a href="{% url agencygraphs_absolute agency.agency %}">Absolute Graph</a></td>
        <td><a href="{% url agency_table_by_agency agency.id %}">Table</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Graphs (by Country)</h2>
<table>
    <tr>
        <th>Country</th>
        <th>Graph</th>
        <th>Abs Graph</th>
        <th>Table</th>
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{ country.country }}</td>
        <td><a href="{% url countrygraphs country.country %}">Ratio Graph</a></td> 
        <td><a href="{% url countrygraphs_absolute country.country %}">Absolute Graph</a></td>
        <td><a href="{% url agency_table_by_country country.id %}">Table</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Country Table</h2>
<a href="{% url country_table %}">Country Table</a>

<h2>Backed up code and database</h2>
<a href="{{ MEDIA_URL }}/ihp-backup.tgz">Download</a>

{% endblock %}
