{% extends "base.html" %}

{% block body %}

<h2>Forms</h2>
<ol>
    <li><a href="{% url dp_summary_edit %}">DP Summary Form</a></li>
</ol>
<h2>Views</h2>
<ol>
    <li><a href="{% url agency_export %}">Agency Export</a></li>
    <li><a href="{% url country_export %}">Country Export</a></li>
    <li><a href="{% url agency_questionnaire %}">Raw DP Questions</a></li>
    <li><a href="{% url agency_questionnaire_cols %}">Raw DP Questions (Cols)</a></li>
    <li><a href="{% url gov_questionnaire %}">Raw Gov Questions</a></li>
</ol>
<h2>Graphs (by Agency)</h2>
<ol>
    {% for agency in agencies %}
    <li><a href="{% url agencygraphs agency.agency %}">{{ agency.agency }}</a></li>
    {% endfor %}
</ol>

<h2>Graphs (by Country)</h2>
<ol>
    {% for country in countries %}
    <li><a href="{% url countrygraphs country.country %}">{{ country.country }}</a></li>
    {% endfor %}
</ol>

{% endblock %}
