{% extends "submissions/graph_base.html" %}
{% load indgraph %}

{% block graphdefs %}

<script>
{{ graph_hw|safe }}
{{ graph_outpatient_visits|safe }}
{{ graph_skilled_medical|safe }}
{{ graph_health_budget|safe }}
{{ graph_pfm|safe }}
{{ graph_procurement|safe }}
{{ graph_multi_year|safe }}
{{ graph_pba|safe }}
{{ graph_tc|safe }}
{{ graph_aob|safe }}
</script>

{% endblock %}

{% block body %}
<h1>{{ indicator }}</h1>

<div class="graphblock"><div id="graph_hw" class="graph"></div></div>
<div class="graphblock"><div id="graph_outpatient_visits" class="graph"></div></div>
<div class="graphblock"><div id="graph_skilled_medical" class="graph"></div></div>
<div class="graphblock"><div id="graph_health_budget" class="graph"></div></div>
<div class="graphblock"><div id="graph_pfm" class="graph"></div></div>
<div class="graphblock"><div id="graph_procurement" class="graph"></div></div>
<div class="graphblock"><div id="graph_multi_year" class="graph"></div></div>
<div class="graphblock"><div id="graph_pba" class="graph"></div></div>
<div class="graphblock"><div id="graph_tc" class="graph"></div></div>
<div class="graphblock"><div id="graph_aob" class="graph"></div></div>

{% endblock %}
