{% extends "submissions/graph_base.html" %}

{% block graphdefs %}

<script>
{{ graph_pfm|safe }}
{{ graph_procurement|safe }}
{{ graph_multi_year|safe }}
{{ graph_pba|safe }}
{{ graph_tc|safe }}
{{ graph_aob|safe }}
</script>

{% endblock %}

{% block body %}
<h1>{{ indicator }}</h1>

<div class="graphblock"><div id="graph_pfm" class="graph"></div></div>
<div class="graphblock"><div id="graph_procurement" class="graph"></div></div>
<div class="graphblock"><div id="graph_multi_year" class="graph"></div></div>
<div class="graphblock"><div id="graph_pba" class="graph"></div></div>
<div class="graphblock"><div id="graph_tc" class="graph"></div></div>
<div class="graphblock"><div id="graph_aob" class="graph"></div></div>

{% endblock %}
