{% extends "submissions/graph_base.html" %}
{% load indgraph %}

{% block graphdefs %}


<script id="source" language="javascript" type="text/javascript"> 

{% absgraph agency 2DPa abs_values graph_2dpa titles.2DPa yaxes.2DPa xaxis %}
{% absgraph agency 2DPb abs_values graph_2dpb titles.2DPb yaxes.2DPb xaxis %}
{% absgraph agency 2DPc abs_values graph_2dpc titles.2DPc yaxes.2DPc xaxis %}
{% absgraph agency 3DP abs_values graph_3dp titles.3DP yaxes.3DP xaxis %}
{% absgraph agency 4DP abs_values graph_4dp titles.4DP yaxes.4DP xaxis %}
{% absgraph agency 5DPa abs_values graph_5dpa titles.5DPa yaxes.5DPa xaxis %}
{% absgraph agency 5DPb abs_values graph_5dpb titles.5DPb yaxes.5DPb xaxis %}
{% absgraph agency 5DPc abs_values graph_5dpc titles.5DPc yaxes.5DPc xaxis %}

</script> 
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>

<div class="graphblock"><div id="graph_2dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpc" class="graph"></div></div>
<div class="graphblock"><div id="graph_3dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_4dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpc" class="graph"></div></div>

{% endblock %}
