<html>
    <body>
        <table>
            <tr>
                <th>file</th>
                <th>agency</th>
                <th>profile</th>
                <th>er1</th>
                <th>r1</th>
                <th>er2a</th>
                <th>r2a</th>
                <th>er2b</th>
                <th>r2b</th>
                <th>er2c</th>
                <th>r2c</th>
                <th>er3</th>
                <th>r3</th>
                <th>er4</th>
                <th>r4</th>
                <th>er5a</th>
                <th>r5a</th>
                <th>er5b</th>
                <th>r5b</th>
                <th>er5c</th>
                <th>r5c</th>
                <th>er6</th>
                <th>r6</th>
                <th>er7</th>
                <th>r7</th>
                <th>er8</th>
                <th>r8</th>
                <th>p1</th>
                <th>p2</th>
                <th>p3</th>
                <th>p4</th>
                <th>p5</th>
                <th>p6</th>
                <th>p7</th>
                <th>np1</th>
                <th>np2</th>
                <th>np3</th>
                <th>np4</th>
                <th>np5</th>
                <th>np6</th>
                <th>np7</th>
            </tr>
            {% for agency, agency_targets in targets.items %}
            <tr>
                <td>{{ agency.agency }}</td>
                <td>{{ agency.agency }}</td>
                <td>{{ agency.description }}</td>
                <td>{% comment er1 %}{% endcomment %}</td>
                <td>{{ agency_targets.1DP.target }}</td>
                <td>{% comment er2a %}{% endcomment %}</td>
                <td>{{ agency_targets.2DPa.target }}</td>
                <td>{% comment er2b %}{% endcomment %}</td>
                <td>{{ agency_targets.2DPb.target }}</td>
                <td>{% comment er2c %}{% endcomment %}</td>
                <td>{{ agency_targets.2DPc.target }}</td>
                <td>{% comment er3 %}{% endcomment %}</td>
                <td>{{ agency_targets.3DP.target }}</td>
                <td>{% comment er4 %}{% endcomment %}</td>
                <td>{{ agency_targets.4DP.target }}</td>
                <td>{% comment er5a %}{% endcomment %}</td>
                <td>{{ agency_targets.5DPa.target }}</td>
                <td>{% comment er5b %}{% endcomment %}</td>
                <td>{{ agency_targets.5DPb.target }}</td>
                <td>{% comment er5c %}{% endcomment %}</td>
                <td>{{ agency_targets.5DPc.target }}</td>
                <td>{% comment er6 %}{% endcomment %}</td>
                <td>{{ agency_targets.6DP.target }}</td>
                <td>{% comment er7 %}{% endcomment %}</td>
                <td>{{ agency_targets.7DP.target }}</td>
                <td>{% comment er8 %}{% endcomment %}</td>
                <td>{{ agency_targets.8DP.target }}</td>
                <td>{% comment p1 %}{% endcomment %}</td>
                <td>{% comment p2 %}{% endcomment %}</td>
                <td>{% comment p3 %}{% endcomment %}</td>
                <td>{% comment p4 %}{% endcomment %}</td>
                <td>{% comment p5 %}{% endcomment %}</td>
                <td>{% comment p6 %}{% endcomment %}</td>
                <td>{% comment p7 %}{% endcomment %}</td>
                <td>{% comment np1 %}{% endcomment %}</td>
                <td>{% comment np2 %}{% endcomment %}</td>
                <td>{% comment np3 %}{% endcomment %}</td>
                <td>{% comment np4 %}{% endcomment %}</td>
                <td>{% comment np5 %}{% endcomment %}</td>
                <td>{% comment np6 %}{% endcomment %}</td>
                <td>{% comment np7 %}{% endcomment %}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
