{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/table.css"> 
    <style>
        .countryrow {
            border-bottom: solid 3px black;
        }

        .notactive {
            background-color: #444;
        }

    </style>
{% endblock %}

{% block content %}
<h1>{{ institution_name }}</h1>
<table class="dpind">
    <tr class="head">
        <th rowspan="2">Agency</th>
        {% for country in countries %}
        <th colspan="3">{{ country.country }}</th>
        {% endfor %}
    </tr>
    <tr class="head2">
        {% for country in countries %}
            <th>2007</th>
            <th>2009</th>
            <th>Rating ∆</th>
        {% endfor %}

    </tr>
    {% if country_calcs %}
    <tr class="countryrow even">
        <td>Country Data</td>
        {% for country, calcs in country_calcs %}
            <td>{{ calcs.base_val|floatformat|default_if_none:"-" }}</td>
            <td>{{ calcs.cur_val|floatformat|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{ calcs.target }}.png"></td>
        {% endfor %}
    </tr>
    {% endif %}
    {% for agency, agency_values in agencies %}
    <tr class="{% cycle "odd" "even" %}">
        <td>{{ agency.agency }}</td>
        {% for country, data in agency_values %}
            <td class="{{ data.cellclass }}">{{ data.baseline_value|default_if_none:"-" }}<br/>
            {% if data.base_year != "2007" and data.base_year != "" %}
                <span class="year">({{ data.base_year }})</span>
            {% endif %}
            </td>
            <td class="{{ data.cellclass }}">{{ data.latest_value|default_if_none:"-" }}<br/>
            {% if data.cur_year != "2009" and data.cur_year != "" %}
                <span class="year">({{ data.cur_year }})</span>
            {% endif %}
            </td>
            <td class="{{ data.cellclass }}">{% if data.rating %}<img src="{{ MEDIA_URL }}/images/{{ data.rating }}.png">{% endif %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
