{% extends "base.html" %}
{% block head %}

<style>

table {
    border: solid thin black
}

tr.head {
    background-color:black;
    color: white;
}

tr.even{
    background-color: #C3C3C3;
}
tr.odd {
    background-color: #989494;
}

td, th {
    padding: 3px;
}

th {
    text-align: center;
}

td {
    border: solid thin black;
    text-align: center;
    width: 50px;
    height: 50px;
}

td:first-child {
    text-align: left;
}

.spmcol {
    width: 20em;
    text-align: left;
}

</style>
{% endblock %}
{% block body %}
<table>
    <tr class="head">
        <th>{{ translation.indicator }}</th>
        <th class="spmcol">{{ translation.spm }}</th>
        {% for agency in agencies %}
            <th>{{ agency.agency }}</th>
        {% endfor %}
    </tr>
    {% for indicator, data, spm_text in ratings %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ indicator }}</td>
            <td class="spmcol">{{ spm_text }}</td>
            {% for agency, r in data.items %}
                <td><img src="{{ MEDIA_URL }}/images/{{ r.rating }}.png"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
