<html>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Agency</th>
                <th>Indicator</th>
                <th>Base Val</th>
                <th>Cur Val</th>
                <th>Target</th>
                <th>Comments</th>
            </tr>
            {% for agency, agency_targets in targets.items %}
            {% for indicator, target in agency_targets.items %}
            <tr>
                <td>{{ target.key }}</td>
                <td>{{ agency }}</td>
                <td>{{ indicator }}</td>
                <td>{{ target.base_val|default_if_none:"" }}</td>
                <td>{{ target.cur_val|default_if_none:"" }}</td>
                <td>{{ target.target }}</td>
                <td>{{ target.comments }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
        
    </body>
</html>
