<html>
    <body>
        <table>
            <tr>
                <th>file</th>
                <th>agency</th>
                <th>profile</th>
                <th>er1</th>
                <th>erb1</th>
                <th>r1</th>
                <th>er2a</th>
                <th>erb2a</th>
                <th>r2a</th>
                <th>er2b</th>
                <th>erb2b</th>
                <th>r2b</th>
                <th>er2c</th>
                <th>erb2c</th>
                <th>r2c</th>
                <th>er3</th>
                <th>erb3</th>
                <th>r3</th>
                <th>er4</th>
                <th>erb4</th>
                <th>r4</th>
                <th>er5a</th>
                <th>erb5a</th>
                <th>r5a</th>
                <th>er5b</th>
                <th>erb5b</th>
                <th>r5b</th>
                <th>er5c</th>
                <th>erb5c</th>
                <th>r5c</th>
                <th>er6</th>
                <th>erb6</th>
                <th>r6</th>
                <th>er7</th>
                <th>erb7</th>
                <th>r7</th>
                <th>er8</th>
                <th>erb8</th>
                <th>r8</th>
                <th>p1</th>
                <th>p2</th>
                <th>p3</th>
                <th>p4</th>
                <th>p5</th>
                <th>p6</th>
                <th>p7</th>
                <th>p8</th>
                <th>p9</th>
                <th>p10</th>
                <th>np1</th>
                <th>np2</th>
                <th>np3</th>
                <th>np4</th>
                <th>np5</th>
                <th>np6</th>
                <th>np7</th>
                <th>np8</th>
                <th>np9</th>
                <th>np10</th>
            </tr>
            {% for agency, agency_targets in targets.items %}
            <tr>
                <td>{{ agency.agency }}</td>
                <td>{{ agency.agency }}</td>
                <td>{{ agency.description }}</td>
                <td>{{ agency_targets.1DP.commentary }}</td>
                <td>{{ agency_targets.1DP.comments }}</td>
                <td>{{ agency_targets.1DP.target }}</td>
                <td>{{ agency_targets.2DPa.commentary }}</td>
                <td>{{ agency_targets.2DPa.comments }}</td>
                <td>{{ agency_targets.2DPa.target }}</td>
                <td>{{ agency_targets.2DPb.commentary }}</td>
                <td>{{ agency_targets.2DPb.comments }}</td>
                <td>{{ agency_targets.2DPb.target }}</td>
                <td>{{ agency_targets.2DPc.commentary }}</td>
                <td>{{ agency_targets.2DPc.comments }}</td>
                <td>{{ agency_targets.2DPc.target }}</td>
                <td>{{ agency_targets.3DP.commentary }}</td>
                <td>{{ agency_targets.3DP.comments }}</td>
                <td>{{ agency_targets.3DP.target }}</td>
                <td>{{ agency_targets.4DP.commentary }}</td>
                <td>{{ agency_targets.4DP.comments }}</td>
                <td>{{ agency_targets.4DP.target }}</td>
                <td>{{ agency_targets.5DPb.commentary }}</td>
                <td>{{ agency_targets.5DPb.comments }}</td>
                <td>{{ agency_targets.5DPb.target }}</td>
                <td>{{ agency_targets.5DPa.commentary }}</td>
                <td>{{ agency_targets.5DPa.comments }}</td>
                <td>{{ agency_targets.5DPa.target }}</td>
                <td>{{ agency_targets.5DPc.commentary }}</td>
                <td>{{ agency_targets.5DPc.comments }}</td>
                <td>{{ agency_targets.5DPc.target }}</td>
                <td>{{ agency_targets.6DP.commentary }}</td>
                <td>{{ agency_targets.6DP.comments }}</td>
                <td>{{ agency_targets.6DP.target }}</td>
                <td>{{ agency_targets.7DP.commentary }}</td>
                <td>{{ agency_targets.7DP.comments }}</td>
                <td>{{ agency_targets.7DP.target }}</td>
                <td>{{ agency_targets.8DP.commentary }}</td>
                <td>{{ agency_targets.8DP.comments }}</td>
                <td>{{ agency_targets.8DP.target }}</td>
                <td>{{ agency_targets.p.1 }}</td>
                <td>{{ agency_targets.p.2 }}</td>
                <td>{{ agency_targets.p.3 }}</td>
                <td>{{ agency_targets.p.4 }}</td>
                <td>{{ agency_targets.p.5 }}</td>
                <td>{{ agency_targets.p.6 }}</td>
                <td>{{ agency_targets.p.7 }}</td>
                <td>{{ agency_targets.p.8 }}</td>
                <td>{{ agency_targets.p.9 }}</td>
                <td>{{ agency_targets.p.10 }}</td>
                <td>{{ agency_targets.np.1 }}</td>
                <td>{{ agency_targets.np.2 }}</td>
                <td>{{ agency_targets.np.3 }}</td>
                <td>{{ agency_targets.np.4 }}</td>
                <td>{{ agency_targets.np.5 }}</td>
                <td>{{ agency_targets.np.6 }}</td>
                <td>{{ agency_targets.np.7 }}</td>
                <td>{{ agency_targets.np.8 }}</td>
                <td>{{ agency_targets.np.9 }}</td>
                <td>{{ agency_targets.np.10 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
