{% extends "submissions/graph_base.html" %}
{% load indgraph %}

{% block graphdefs %}

<script>

{% ratiograph agency 2DPa data graph_2dpa titles.2DPa yaxes.2DPa xaxis %}
{% ratiograph agency 2DPb data graph_2dpb titles.2DPb yaxes.2DPb xaxis %}
{% ratiograph agency 2DPc data graph_2dpc titles.2DPc yaxes.2DPc xaxis %}
{% ratiograph agency 3DP data graph_3dp titles.3DP yaxes.3DP xaxis %}
{% ratiograph agency 4DP data graph_4dp titles.4DP yaxes.4DP xaxis %}
{% ratiograph agency 5DPa data graph_5dpa titles.5DPa yaxes.5DPa xaxis %}
{% ratiograph agency 5DPb data graph_5dpb titles.5DPb yaxes.5DPb xaxis %}
{% ratiograph agency 5DPc data graph_5dpc titles.5DPc yaxes.5DPc xaxis %}
</script>
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>

<div class="graphblock"><div id="graph_2dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpc" class="graph"></div></div>
<div class="graphblock"><div id="graph_3dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_4dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpc" class="graph"></div></div>

{% endblock %}
