{% extends "base.html" %}
{% block head %}

<style>

table {
    border: solid thin black
}

tr.head {
    background-color:black;
    color: white;
}

tr.head2 {
    font-size: 0.8em
}

tr.even{
    background-color: #C3C3C3;
}
tr.odd {
    background-color: #989494;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    border: solid thin black;
    text-align: center;
    width: 20px;
    height: 30px;
}

td:first-child {
    text-align: left;
    font-size: 0.95em;
    width: 30%;
}



</style>
{% endblock %}
{% block body %}
<table>
    <tr class="head">
        <th rowspan="2">Standard Performance Measure</th>
        {% for country in abs_values %}
        <th colspan="3">{{ country }}</th>
        {% endfor %}
    </tr>
    <tr class="head2">
        {% for country in abs_values %}
            <th>2007</th>
            <th>2009</th>
            <th>% Change</th>
        {% endfor %}

    </tr>
    <tr class="odd">
        <td>{{ spm_map.1DP }} (1DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.1DP.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.1DP.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.2DPa }} (2DPa)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.2DPa.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.2DPa.1|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.2DPa.2|floatformat|default_if_none:"-" }}</td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>{{ spm_map.2DPb }} (2DPb)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.2DPb.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.2DPb.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.2DPc }} (2DPc)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.2DPc.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.2DPc.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>{{ spm_map.3DP }} (3DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.3DP.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.3DP.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.4DP }} (4DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.4DP.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.4DP.1|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.4DP.2|floatformat|default_if_none:"-" }}</td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>{{ spm_map.5DPa }} (5DPa)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.5DPa.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPa.1|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPa.2|floatformat|default_if_none:"-" }}</td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.5DPb }} (5DPb)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.5DPb.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPb.1|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPb.2|floatformat|default_if_none:"-" }}</td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>{{ spm_map.5DPc }} (5DPc)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.5DPc.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPc.1|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.5DPc.2|floatformat|default_if_none:"-" }}</td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.6DP }} (6DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.6DP.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.6DP.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>{{ spm_map.7DP }} (7DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.7DP.0|floatformat|default_if_none:"-" }}</td>
            <td>{{ data.7DP.1|floatformat|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>{{ spm_map.8DP }} (8DP)</td>
        {% for country, data in abs_values.items %}
            <td>{{ data.8DP.0|floatformat:"2"|default_if_none:"-" }}</td>
            <td>{{ data.8DP.1|floatformat:"2"|default_if_none:"-" }}</td>
            <td></td>
        {% endfor %}
    </tr>

</table>
{% endblock %}
