{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/table.css"> 
{% endblock %}

{% block content %}
<h1>{{ institution_name }}</h1>
<table class="dp">
    <tr class="head">
        <th rowspan="2">SPM #</th>
        <th rowspan="2" class="spm">Standard Performance Measure</th>
        {% for country, _ in abs_values %}
        <th colspan="3">{{ country }}</th>
        {% endfor %}
    </tr>
    <tr class="head2">
        {% for country, _ in abs_values %}
            <th>2007</th>
            <th>2009</th>
            <th>Rating</th>
        {% endfor %}

    </tr>
    <tr class="odd">
        <td>1DP</td>
        <td>{{ spm_map.1DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.1DP.0|default_if_none:"-" }}<br/>{% if data.1DP.3 != "2007" %}<span class="year">({{ data.1DP.3 }})</span>{% endif %}</td>
            <td>{{ data.1DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.1DP.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>2DPa</td>
        <td>{{ spm_map.2DPa }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.2DPa.0|default_if_none:"-" }} {% if data.2DPa.3 != "2007" %}<br/><span class="year">({{ data.2DPa.3 }})</span>{% endif %}</td>
            <td>{{ data.2DPa.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.2DPa.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>2DPb</td>
        <td>{{ spm_map.2DPb }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.2DPb.0|default_if_none:"-" }} {% if data.2DPb.3 != "2007" %}<br/><span class="year">({{ data.2DPb.3 }})</span>{% endif %}</td>
            <td>{{ data.2DPb.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.2DPb.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>2DPc</td>
        <td>{{ spm_map.2DPc }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.2DPc.0|default_if_none:"-" }} {% if data.2DPc.3 != "2007" %}<br/><span class="year">({{ data.2DPc.3 }})</span>{% endif %}</td>
            <td>{{ data.2DPc.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.2DPc.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>3DP</td>
        <td>{{ spm_map.3DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.3DP.0|default_if_none:"-" }} {% if data.3DP.3 != "2007" %}<br/><span class="year">({{ data.3DP.3 }})</span>{% endif %}</td>
            <td>{{ data.3DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.3DP.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>4DP</td>
        <td>{{ spm_map.4DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.4DP.0|default_if_none:"-" }} {% if data.4DP.3 != "2007" %}<br/><span class="year">({{ data.4DP.3 }})</span>{% endif %}</td>
            <td>{{ data.4DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.4DP.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>5DPa</td>
        <td>{{ spm_map.5DPa }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.5DPa.0|default_if_none:"-" }} {% if data.5DPa.3 != "2007" %}<br/><span class="year">({{ data.5DPa.3 }})</span>{% endif %}</td>
            <td>{{ data.5DPa.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.5DPa.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>5DPb</td>
        <td>{{ spm_map.5DPb }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.5DPb.0|default_if_none:"-" }} {% if data.5DPb.3 != "2007" %}<br/><span class="year">({{ data.5DPb.3 }})</span>{% endif %}</td>
            <td>{{ data.5DPb.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.5DPb.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>5DPc</td>
        <td>{{ spm_map.5DPc }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.5DPc.0|default_if_none:"-" }} {% if data.5DPc.3 != "2007" %}<br/><span class="year">({{ data.5DPc.3 }})</span>{% endif %}</td>
            <td>{{ data.5DPc.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.5DPc.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>6DP</td>
        <td>{{ spm_map.6DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.6DP.0|default_if_none:"-" }} {% if data.6DP.3 != "2007" %}<br/><span class="year">({{ data.6DP.3 }})</span>{% endif %}</td>
            <td>{{ data.6DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.6DP.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="odd">
        <td>7DP</td>
        <td>{{ spm_map.7DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.7DP.0|default_if_none:"-" }} {% if data.7DP.3 != "2007" %}<br/><span class="year">({{ data.7DP.3 }})</span>{% endif %}</td>
            <td>{{ data.7DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.7DP.4}}.png"></td>
        {% endfor %}
    </tr>
    <tr class="even">
        <td>8DP</td>
        <td>{{ spm_map.8DP }}</td>
        {% for country, data in abs_values %}
            <td>{{ data.8DP.0|default_if_none:"-" }} {% if data.8DP.3 != "2007" %}<br/><span class="year">({{ data.8DP.3 }})</span>{% endif %}</td>
            <td>{{ data.8DP.1|default_if_none:"-" }}</td>
            <td><img src="{{ MEDIA_URL }}/images/{{data.8DP.4}}.png"></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}
