{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/raphael-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/prototype.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/grafico.base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/grafico.bar.js"></script>
<!--<script type="text/javascript" src="/media/js/grafico.min.js"></script>-->


<script>
Event.observe(window, 'load', function() {
    var bargraph_2dpa = new Grafico.BarGraph(
        $('graph_2dpa'), [{% for country, datum in data.items %}{{ datum.2DPa|default_if_none:"0" }},{% endfor %}],
        {
            labels : [{% for country in countries %}"{{ country.country }}",{% endfor %}],
            color :  "#4b80b6",
            vertical_label_unit : "%",
            datalabels : {one: [{% for country, datum in data.items %}{{ datum.2DPa|default_if_none:"0"|floatformat }},{% endfor %}]}
        }
    );

    var bargraph_4dp = new Grafico.BarGraph(
        $('graph_4dp'), [{% for country, datum in data.items %}{{ datum.4DP|default_if_none:"0" }},{% endfor %}],
        {
            labels : [{% for country in countries %}"{{ country.country }}",{% endfor %}],
            color :  "#4b80b6",
            vertical_label_unit : "%",
            datalabels : {one: [{% for country, datum in data.items %}{{ datum.4DP|default_if_none:"0"|floatformat }},{% endfor %}]}
        }
    );

    var bargraph_5dpa = new Grafico.BarGraph(
        $('graph_5dpa'), [{% for country, datum in data.items %}{{ datum.5DPa|default_if_none:"0" }},{% endfor %}],
        {
            labels : [{% for country in countries %}"{{ country.country }}",{% endfor %}],
            color :  "#4b80b6",
            vertical_label_unit : "%",
            datalabels : {one: [{% for country, datum in data.items %}{{ datum.5DPa|default_if_none:"0"|floatformat }},{% endfor %}]}
        }
    );

    var bargraph_5dpb = new Grafico.BarGraph(
        $('graph_5dpb'), [{% for country, datum in data.items %}{{ datum.5DPb|default_if_none:"0" }},{% endfor %}],
        {
            labels : [{% for country in countries %}"{{ country.country }}",{% endfor %}],
            color :  "#4b80b6",
            vertical_label_unit : "%",
            datalabels : {one: [{% for country, datum in data.items %}{{ datum.5DPb|default_if_none:"0"|floatformat }},{% endfor %}]}
        }
    );

    var bargraph_5dpc = new Grafico.BarGraph(
        $('graph_5dpc'), [{% for country, datum in data.items %}{{ datum.5DPc|default_if_none:"0" }},{% endfor %}],
        {
            labels : [{% for country in countries %}"{{ country.country }}",{% endfor %}],
            color :  "#4b80b6",
            vertical_label_unit : "%",
            datalabels : {one: [{% for country, datum in data.items %}{{ datum.5DPc|default_if_none:"0"|floatformat }},{% endfor %}]}
        }
    );

});
</script>
<style>
.graph {
    height: 200px;
    width: 600px;
}
</style>
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>
<h2>2DPa</h2>
<div id="graph_2dpa" class="graph"></div>
<h2>4DP</h2>
<div id="graph_4dp" class="graph"></div>
<h2>5DPa</h2>
<div id="graph_5dpa" class="graph"></div>
<h2>5DPb</h2>
<div id="graph_5dpb" class="graph"></div>
<h2>5DPc</h2>
<div id="graph_5dpc" class="graph"></div>
{% endblock %}
