<html>
    <body>
        <table border="1">
            <tr>
                <th>file</th>
                <th>TB2</th>
                <th>CD1</th>
                <th>CD2</th>
                <th>HSP1</th>
                <th>HSP2</th>
                <th>HSM1</th>
                <th>HSM2</th>
                <th>HSM3</th>
                <th>HSM4</th>
                <th>BC1</th>
                <th>BC2</th>
                <th>BC3</th>
                <th>BC4</th>
                <th>BC5</th>
                <th>BC6</th>
                <th>BC7</th>
                <th>BC8</th>
                <th>BC9</th>
                <th>BC10</th>
                <th>PC1</th>
                <th>PC2</th>
                <th>PC3</th>
                <th>PC4</th>
                <th>PF1</th>
                <th>PF2</th>
                <th>PFM1</th>
                <th>PFM2</th>
                <th>PR1</th>
                <th>PR2</th>
                <th>TA1</th>
                <th>TA2</th>
                <th>PHC1</th>
                <th>PHC2</th>
                <th>PHC3</th>
                <th>PHC4</th>
                <th>PHC5</th>
                <th>PHC6</th>
                <th>PHC7</th>
                <th>HRH1</th>
                <th>HRH2</th>
                <th>HRH3</th>
                <th>HRH4</th>
                <th>HRH5</th>
                <th>HRH6</th>
                <th>HRH7</th>
                <th>HS1</th>
                <th>HS2</th>
                <th>HS3</th>
                <th>HS4</th>
                <th>HS5</th>
                <th>HS6</th>
                <th>HS7</th>
                <th>RF1</th>
                <th>RF2</th>
                <th>RF3</th>
                <th>HMIS1</th>
                <th>HMIS2</th>
                <th>JAR1</th>
                <th>JAR2</th>
                <th>JAR3</th>
                <th>JAR4</th>
                <th>JAR5</th>
                <th>DBR1</th>
                <th>DBR2</th>

                <!-- Back of scorecard -->

                <th>F1</th>
                <th>CN1</th>
                <th>GN1</th>
                <th>ER1a</th>
                <th>ER1b</th>
                <th>ER2a</th>
                <th>ER2b</th>
                <th>ER3a</th>
                <th>ER3b</th>
                <th>ER4a</th>
                <th>ER4b</th>
                <th>ER4c</th>
                <th>ER5a</th>
                <th>ER5b</th>
                <th>ER6a</th>
                <th>ER6b</th>
                <th>ER7a</th>
                <th>ER7b</th>
                <th>ER8a</th>
                <th>ER8b</th>
                <th>ER9a</th>
                <th>ER9b</th>
                <th>ER10a</th>
                <th>ER10b</th>
                <th>Header</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
                <th>P7</th>
                <th>P8</th>
                <th>P9</th>
                <th>P10</th>
                <th>P11</th>
                <th>P12</th>
                <th>P13</th>
                <th>Header</th>
                <th>NP1</th>
                <th>NP2</th>
                <th>NP3</th>
                <th>NP4</th>
                <th>NP5</th>
                <th>NP6</th>
                <th>NP7</th>
                <th>NP8</th>
                <th>NP9</th>
                <th>NP10</th>
                <th>NP11</th>
                <th>NP12</th>
                <th>NP13</th>
            </tr>
            {% for country, country_targets in targets.items %}
            <tr>
                <td>{{ country.country|default_if_none:"" }}</td> <!-- B -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- C -->
                <td>{{ country_targets.1G.target|default_if_none:"question" }}</td> <!-- D -->
                <td>{{ country_targets.questions.1.comments|default_if_none:"" }}</td> <!-- E -->
                <td>{{ country_targets.Q2G.target|default_if_none:"question" }}</td> <!-- F -->
                <td>{{ country_targets.Q3G.target|default_if_none:"question" }}</td> <!-- G -->
                <td>{{ country_targets.Q12G.target|default_if_none:"question" }}</td> <!-- H -->
                <td>{{ country_targets.questions.15.latest_value|default_if_none:"" }}</td> <!-- I -->
                <td>{{ country_targets.indicators.8G.latest_value|default_if_none:"" }}</td> <!-- J -->
                <td></td> <!-- K -->
                <td>{{ country_targets.questions.5.baseline_year|default_if_none:"" }}</td> <!-- L -->
                <td>{{ country_targets.questions.6.base_val|default_if_none:"" }}</td> <!-- M -->
                <td>{{ country_targets.questions.5.latest_year|default_if_none:"" }}</td> <!-- N -->
                <td>{{ country_targets.questions.6.cur_val|default_if_none:"" }}</td> <!-- O -->
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>{{ country_targets.indicators.3G.latest_value|default_if_none:"" }}</td>
                <td>{{ country_targets.indicators.3G.hs_budget_gap|default_if_none:"" }}</td>
                <td>{{ country_targets.indicators.3G.latest_value|default_if_none:"" }}% allocated to health</td>
                <td>{{ country_targets.indicators.3G.hs_budget_gap|default_if_none:"" }}% increase needed to meet the Abuja target (15%)</td>
                <td>{{ country_targets.questions.16.latest_value|default_if_none:"" }}</td>
                <td>{{ country_targets.questions.16.comments|default_if_none:"" }}</td>
                <td></td> <!-- AB -->
                <td>{{ country_targets.questions.9.comments|default_if_none:"" }}</td>
                <td></td> <!-- AD -->
                <td>{{ country_targets.questions.10.comments|default_if_none:"" }}</td> <!-- AE -->
                <td>{{ country_targets.indicators.other.coordinated_programmes|default_if_none:"" }}</td> <!-- AF -->
                <td> <!-- AG -->
                {% for agency, aqs in country_targets.agencies.items %}
                {{ agency }}] {{ aqs.4.comments }}<br/>
                {% endfor %}
                </td>
                <td>{{ country_targets.indicators.other.outpatient_visits_baseline|default_if_none:"" }}</td> <!-- AH -->
                <td>{{ country_targets.questions.19.baseline_year|default_if_none:"" }}</td> <!-- AI -->
                <td>{{ country_targets.indicators.other.outpatient_visits_latest|default_if_none:"" }}</td> <!-- AJ -->
                <td>{{ country_targets.questions.19.latest_year|default_if_none:"" }}</td> <!-- AK -->
                <td>{{ country_targets.indicators.other.outpatient_visits_change|default_if_none:"" }}</td> <!-- AL -->
                <td>{{ country_targets.indicators.other.outpatient_visits_change_dir|default_if_none:"" }}</td> <!-- AM -->
                <td></td> <!-- AN -->
                <td>{{ country_targets.indicators.other.skilled_personnel_baseline|default_if_none:"" }}</td> <!-- AO -->
                <td>{{ country_targets.questions.17.baseline_year|default_if_none:"" }}</td> <!-- AP -->
                <td>{{ country_targets.indicators.other.skilled_personnel_latest|default_if_none:"" }}</td> <!-- AQ -->
                <td>{{ country_targets.questions.17.latest_year|default_if_none:"" }}</td> <!-- AR -->
                <td>{{ country_targets.indicators.other.skilled_personnel_change|default_if_none:"" }}</td> <!-- AS -->
                <td>{{ country_targets.indicators.other.skilled_personnel_change_dir|default_if_none:"" }}</td> <!-- AT -->
                <td></td> <!-- AU -->
                <td>{{ country_targets.questions.20.base_val|default_if_none:"" }}</td> <!-- AV -->
                <td>{{ country_targets.questions.20.baseline_year|default_if_none:"" }}</td> <!-- AW -->
                <td>{{ country_targets.questions.20.cur_val|default_if_none:"" }}</td> <!-- AX -->
                <td>{{ country_targets.questions.20.latest_year|default_if_none:"" }}</td> <!-- AY -->
                <td>{{ country_targets.indicators.other.health_workforce_spent_change|default_if_none:"" }}</td> <!-- AZ -->
                <td>{{ country_targets.indicators.other.health_workforce_spent_change_dir|default_if_none:"" }}</td> <!-- BA -->
                <td></td> <!-- BB -->
                <td>{{ country_targets.6G.target|default_if_none:"question" }}</td> <!-- BC -->
                <td>{{ country_targets.questions.22.latest_value|default_if_none:"" }}</td> <!-- BD -->
                <td>{{ country_targets.questions.23.latest_value|default_if_none:"" }}</td> <!-- BE -->
                <td>{{ country_targets.Q21G.target|default_if_none:"question" }}</td> <!-- BF -->
                <td>{{ country_targets.questions.21.comments|default_if_none:"" }}</td> <!-- BG -->
                <td>{{ country_targets.Q12G.target|default_if_none:"question" }}</td> <!-- BH -->
                <td></td> <!-- BI -->
                <td>{{ country_targets.questions.24.latest_value|default_if_none:"" }}</td> <!-- BJ -->
                <td>{{ country_targets.questions.24.comments|default_if_none:"" }}</td> <!-- BK -->
                <td>{{ country_targets.questions.24.comments|default_if_none:"" }}</td> <!-- BL -->
                <td>{{ country_targets.6G.target|default_if_none:"question" }}</td> <!-- BM -->
                <td>{{ country_targets.questions.11.comments|default_if_none:"" }}</td> <!-- BN -->

                <!-- Back of scorecard -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- B -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- C -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- D -->
                <td>{{ country_targets.1G.target|default_if_none:"question" }}</td> <!-- E -->
                <td>{{ country_targets.1G.commentary|default_if_none:"" }}</td> <!-- F -->
                <td>{{ country_targets.2Ga.target|default_if_none:"question" }}<br/></td> <!-- G -->
                <td>{{ country_targets.2Ga.commentary|default_if_none:"" }}</td> <!-- H -->
                <td>{{ country_targets.2Gb.target|default_if_none:"question" }}</td> <!-- I -->
                <td>{{ country_targets.2Gb.commentary|default_if_none:"" }}</td> <!-- J -->
                <td>{{ country_targets.3G.target|default_if_none:"question" }}</td> <!-- K -->
                <td>{{ country_targets.3G.commentary|default_if_none:"" }}</td> <!-- L -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- M -->
                <td>{{ country_targets.4G.target|default_if_none:"question" }}</td> <!-- N -->
                <td>{{ country_targets.4G.commentary|default_if_none:"" }}</td> <!-- O -->
                <td>{{ country_targets.indicators.other.pfm_diff|default_if_none:"" }}</td> <!-- P -->
                <td>{{ country_targets.5Ga.commentary|default_if_none:"" }}</td> <!-- Q -->
                <td></td> <!-- R -->
                <td>{{ country_targets.5Gb.commentary|default_if_none:"" }}</td> <!-- S -->
                <td>{{ country_targets.6G.target|default_if_none:"question" }}</td> <!-- T -->
                <td>{{ country_targets.6G.commentary|default_if_none:"" }}</td> <!-- U -->
                <td>{{ country_targets.7G.target|default_if_none:"question" }}</td> <!-- V -->
                <td>{{ country_targets.7G.commentary|default_if_none:"" }}</td> <!-- W -->
                <td>{{ country_targets.8G.target|default_if_none:"question" }}</td> <!-- X -->
                <td>{{ country_targets.8G.commentary|default_if_none:"" }}</td> <!-- Y -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- Z -->
                <td>{{ country_targets.p.1|default_if_none:"" }}</td> <!-- AA -->
                <td>{{ country_targets.p.2|default_if_none:"" }}</td> <!-- AB -->
                <td>{{ country_targets.p.3|default_if_none:"" }}</td> <!-- AC -->
                <td>{{ country_targets.p.4|default_if_none:"" }}</td> <!-- AD -->
                <td>{{ country_targets.p.5|default_if_none:"" }}</td> <!-- AE -->
                <td>{{ country_targets.p.6|default_if_none:"" }}</td> <!-- AF -->
                <td>{{ country_targets.p.7|default_if_none:"" }}</td> <!-- AG -->
                <td>{{ country_targets.p.8|default_if_none:"" }}</td> <!-- AH -->
                <td>{{ country_targets.p.9|default_if_none:"" }}</td> <!-- AI -->
                <td>{{ country_targets.p.10|default_if_none:"" }}</td> <!-- AJ -->
                <td>{{ country_targets.p.11|default_if_none:"" }}</td> <!-- AK -->
                <td>{{ country_targets.p.12|default_if_none:"" }}</td> <!-- AL -->
                <td>{{ country_targets.p.13|default_if_none:"" }}</td> <!-- AM -->
                <td>{{ country.country|default_if_none:"" }}</td> <!-- AN -->
                <td>{{ country_targets.np.1|default_if_none:"" }}</td> <!-- AO -->
                <td>{{ country_targets.np.2|default_if_none:"" }}</td> <!-- AP -->
                <td>{{ country_targets.np.3|default_if_none:"" }}</td> <!-- AQ -->
                <td>{{ country_targets.np.4|default_if_none:"" }}</td> <!-- AR -->
                <td>{{ country_targets.np.5|default_if_none:"" }}</td> <!-- AS -->
                <td>{{ country_targets.np.6|default_if_none:"" }}</td> <!-- AT -->
                <td>{{ country_targets.np.7|default_if_none:"" }}</td> <!-- AU -->
                <td>{{ country_targets.np.8|default_if_none:"" }}</td> <!-- AV -->
                <td>{{ country_targets.np.9|default_if_none:"" }}</td> <!-- AW -->
                <td>{{ country_targets.np.10|default_if_none:"" }}</td> <!-- AX -->
                <td>{{ country_targets.np.11|default_if_none:"" }}</td> <!-- AY -->
                <td>{{ country_targets.np.12|default_if_none:"" }}</td> <!-- AZ -->
                <td>{{ country_targets.np.13|default_if_none:"" }}</td> <!-- BA -->
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
