{% extends "submissions/graph_base.html" %}
{% load indgraph %}

{% block graphdefs %}

<script>
{% ratiograph country 2DPa data graph_2dpa %}
{% ratiograph country 2DPb data graph_2dpb %}
{% ratiograph country 2DPc data graph_2dpc %}
{% ratiograph country 3DP data graph_3dp %}
{% ratiograph country 4DP data graph_4dp %}
{% ratiograph country 5DPa data graph_5dpa %}
{% ratiograph country 5DPb data graph_5dpb %}
{% ratiograph country 5DPc data graph_5dpc %}
</script>
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>

<div class="graphblock"><div id="graph_2dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_2dpc" class="graph"></div></div>
<div class="graphblock"><div id="graph_3dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_4dp" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpa" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpb" class="graph"></div></div>
<div class="graphblock"><div id="graph_5dpc" class="graph"></div></div>

{% endblock %}
