{% extends "base.html" %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block body %}
<form class="styleform">
    <fieldset>
        <legend>Country</legend>
        <ol><li>{{ form.country }}</li></ol>
    </fieldset>
    <fieldset>
        <legend>National Results Framework Agreed</legend>
        <ol>
            <li>
            {{ form.rf2_English.label_tag }}
            {{ form.rf2_English }}
            </li>
            <li>
            {{ form.rf2_French.label_tag }}
            {{ form.rf2_French }}
            </li>
            <li>
            {{ form.rf3_English.label_tag }}
            {{ form.rf3_English }}
            </li>
            <li>
            {{ form.rf3_French.label_tag }}
            {{ form.rf3_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Decisions Based on Results</legend>
        <ol>
            <li>
            {{ form.dbr2_English.label_tag }}
            {{ form.dbr2_English }}
            </li>
            <li>
            {{ form.dbr2_French.label_tag }}
            {{ form.dbr2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Health Management Information Systems</legend>
        <ol>
            <li>
            {{ form.hmis2_English.label_tag }}
            {{ form.hmis2_English }}
            </li>
            <li>
            {{ form.hmis2_French.label_tag }}
            {{ form.hmis2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Joint Health Sector Reviews Conducted</legend>
        <ol>
            <li>
            {{ form.jar4_English.label_tag }}
            {{ form.jar4_English }}
            </li>
            <li>
            {{ form.jar4_French.label_tag }}
            {{ form.jar4_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Commitments Documented</legend>
        <ol>
            <li>
            {{ form.cd2_English.label_tag }}
            {{ form.cd2_English }}
            </li>
            <li>
            {{ form.cd2_French.label_tag }}
            {{ form.cd2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>PFM blue call out box</legend>
        <ol>
            <li>
            {{ form.pfm2_English.label_tag }}
            {{ form.pfm2_English }}
            </li>
            <li>
            {{ form.pfm2_French.label_tag }}
            {{ form.pfm2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Procurement blue call out box</legend>
        <ol>
            <li>
            {{ form.pr2_English.label_tag }}
            {{ form.pr2_English }}
            </li>
            <li>
            {{ form.pr2_French.label_tag }}
            {{ form.pr2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Technical Assistance blue call out box</legend>
        <ol>
            <li>
            {{ form.ta2_English.label_tag }}
            {{ form.ta2_English }}
            </li>
            <li>
            {{ form.ta2_French.label_tag }}
            {{ form.ta2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>External Financing Using Pooled Mechanisms blue call out box</legend>
        <ol>
            <li>
            {{ form.pf2_English.label_tag }}
            {{ form.pf2_English }}
            </li>
            <li>
            {{ form.pf2_French.label_tag }}
            {{ form.pf2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <ol>
            <li><button id="id_submit">Save</button></li>
        </ol>
    <fieldset>
</form>
{% endblock %}
