<html>
    <body>
        <table>
            <tr>
                <th>file</th>
                <th>country</th>
                <th>profile</th>
                <th>er1</th>
                <th>r1</th>
                <th>er2a</th>
                <th>r2a</th>
                <th>er2b</th>
                <th>r2b</th>
                <th>er3</th>
                <th>r3</th>
                <th>er4</th>
                <th>r4</th>
                <th>er5</th>
                <th>r5</th>
                <th>er6</th>
                <th>r6</th>
                <th>er7</th>
                <th>r7</th>
                <th>er8</th>
                <th>r8</th>
                <th>p1</th>
                <th>p2</th>
                <th>p3</th>
                <th>p4</th>
                <th>p5</th>
                <th>p6</th>
                <th>p7</th>
                <th>p8</th>
                <th>p9</th>
                <th>p10</th>
                <th>np1</th>
                <th>np2</th>
                <th>np3</th>
                <th>np4</th>
                <th>np5</th>
                <th>np6</th>
                <th>np7</th>
                <th>np8</th>
                <th>np9</th>
                <th>np10</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
                <th>Q5</th>
                <th>Q6</th>
                <th>Q7</th>
                <th>Q8</th>
                <th>Q9</th>
                <th>Q10</th>
                <th>Q11</th>
                <th>Q12</th>
                <th>Q13</th>
                <th>Q14</th>
                <th>Q15</th>
                <th>Q16</th>
                <th>Q17</th>
                <th>Q18</th>
                <th>Q19</th>
                <th>Q20</th>
                <th>Q21</th>
                <th>Q22</th>
                <th>Q23</th>
                <th>Q24</th>
                <th>Q25</th>
            </tr>
            {% for country, country_targets in targets.items %}
            <tr>
                <td>{{ country.country }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country.description }}</td>
                <td>{{ country_targets.1G.comments }}</td>
                <td>{{ country_targets.1G.target }}</td>
                <td>{{ country_targets.2Ga.comments }}</td>
                <td>{{ country_targets.2Ga.target }}</td>
                <td>{{ country_targets.2Gb.comments }}</td>
                <td>{{ country_targets.2Gb.target }}</td>
                <td>{{ country_targets.3G.comments }}</td>
                <td>{{ country_targets.3G.target }}</td>
                <td>{{ country_targets.4G.comments }}</td>
                <td>{{ country_targets.4G.target }}</td>
                <td>{{ country_targets.5G.comments }}</td>
                <td>{{ country_targets.5G.target }}</td>
                <td>{{ country_targets.6G.comments }}</td>
                <td>{{ country_targets.6G.target }}</td>
                <td>{{ country_targets.7G.comments }}</td>
                <td>{{ country_targets.7G.target }}</td>
                <td>{{ country_targets.8G.comments }}</td>
                <td>{{ country_targets.8G.target }}</td>
                <td>{{ country_targets.p.1 }}</td>
                <td>{{ country_targets.p.2 }}</td>
                <td>{{ country_targets.p.3 }}</td>
                <td>{{ country_targets.p.4 }}</td>
                <td>{{ country_targets.p.5 }}</td>
                <td>{{ country_targets.p.6 }}</td>
                <td>{{ country_targets.p.7 }}</td>
                <td>{{ country_targets.p.8 }}</td>
                <td>{{ country_targets.p.9 }}</td>
                <td>{{ country_targets.p.10 }}</td>
                <td>{{ country_targets.np.1 }}</td>
                <td>{{ country_targets.np.2 }}</td>
                <td>{{ country_targets.np.3 }}</td>
                <td>{{ country_targets.np.4 }}</td>
                <td>{{ country_targets.np.5 }}</td>
                <td>{{ country_targets.np.6 }}</td>
                <td>{{ country_targets.np.7 }}</td>
                <td>{{ country_targets.np.8 }}</td>
                <td>{{ country_targets.np.9 }}</td>
                <td>{{ country_targets.np.10 }}</td>
                <td>{{ country_targets.questions.1.latest_value }}</td>
                <td>{{ country_targets.questions.2.latest_value }}</td>
                <td>{{ country_targets.questions.3.latest_value }}</td>
                <td>{{ country_targets.questions.4.latest_value }}</td>
                <td>{{ country_targets.questions.5.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.6.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.7.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.8.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.9.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.10.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.11.latest_value }}</td>
                <td>{{ country_targets.questions.12.latest_value }}</td>
                <td>{{ country_targets.questions.13.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.14.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.15.latest_value }}</td>
                <td>{{ country_targets.questions.16.latest_value }}</td>
                <td>{{ country_targets.questions.17.latest_value }}</td>
                <td>{{ country_targets.questions.18.latest_value }}</td>
                <td>{{ country_targets.questions.19.latest_value }}</td>
                <td>{{ country_targets.questions.20.latest_value }}</td>
                <td>{{ country_targets.questions.21.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.22.latest_value|floatformat }}</td>
                <td>{{ country_targets.questions.23.latest_value }}</td>
                <td>{{ country_targets.questions.24.latest_value }}</td>
                <td>{{ country_targets.questions.25.latest_value }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
