<html>
    <body>
        <table>
            <tr>
                <th>TB1</th>
                <th>TB2</th>
                <th>CD1</th>
                <th>CD2</th>
                <th>HSP1</th>
                <th>HSP2</th>
                <th>HSM1</th>
                <th>HSM2</th>
                <th>HSM3</th>
                <th>HSM4</th>
                <th>BC1</th>
                <th>BC2</th>
                <th>BC3</th>
                <th>BC4</th>
                <th>BC5</th>
                <th>BC6</th>
                <th>BC7</th>
                <th>BC8</th>
                <th>BC9</th>
                <th>BC10</th>
                <th>PC1</th>
                <th>PC2</th>
                <th>PC3</th>
                <th>PC4</th>
                <th>PF1</th>
                <th>PF2</th>
                <th>PFM1</th>
                <th>PFM2</th>
                <th>PR1</th>
                <th>PR2</th>
                <th>TA1</th>
                <th>TA2</th>
                <th>PHC1</th>
                <th>PHC2</th>
                <th>PHC3</th>
                <th>PHC4</th>
                <th>PHC5</th>
                <th>PHC6</th>
                <th>HRH1</th>
                <th>HRH2</th>
                <th>HRH3</th>
                <th>HRH4</th>
                <th>HRH5</th>
                <th>HRH6</th>
                <th>HS1</th>
                <th>HS2</th>
                <th>HS3</th>
                <th>HS4</th>
                <th>HS5</th>
                <th>HS6</th>
                <th>RF1</th>
                <th>RF2</th>
                <th>RF3</th>
                <th>HMIS1</th>
                <th>HMIS2</th>
                <th>JAR1</th>
                <th>JAR2</th>
                <th>JAR3</th>
                <th>JAR4</th>
                <th>JAR5</th>
                <th>DBR1</th>
                <th>DBR2</th>
                <th>MDG1a</th>
                <th>MDG1b</th>
                <th>MDG1c</th>
                <th>MDG1d</th>
                <th>MDG1e</th>
                <th>MDG2a</th>
                <th>MDG2b</th>
                <th>MDG2c</th>
                <th>MDG2d</th>
                <th>MDG2e</th>
                <th>MDG3a</th>
                <th>MDG3b</th>
                <th>MDG3c</th>
                <th>MDG3d</th>
                <th>MDG3e</th>
                <th>MDG4a</th>
                <th>MDG4b</th>
                <th>MDG4c</th>
                <th>MDG4d</th>
                <th>MDG4e</th>
                <th>MDG5a1</th>
                <th>MDG5a2</th>
                <th>MDG5a3</th>
                <th>MDG5a4</th>
                <th>MDG5a5</th>
                <th>MDG5b1</th>
                <th>MDG5b2</th>
                <th>MDG5b3</th>
                <th>MDG5b4</th>
                <th>MDG5b5</th>
                <th>MDG6a1</th>
                <th>MDG6a2</th>
                <th>MDG6a3</th>
                <th>MDG6a4</th>
                <th>MDG6a5</th>
                <th>MDG6b1</th>
                <th>MDG6b2</th>
                <th>MDG6b3</th>
                <th>MDG6b4</th>
                <th>MDG6b5</th>
                <th>MDG6c1</th>
                <th>MDG6c2</th>
                <th>MDG6c3</th>
                <th>MDG6c4</th>
                <th>MDG6c5</th>
                <th>MDG7a1</th>
                <th>MDG7a2</th>
                <th>MDG7a3</th>
                <th>MDG7a4</th>
                <th>MDG7a5</th>
                <th>MDG7b1</th>
                <th>MDG7b2</th>
                <th>MDG7b3</th>
                <th>MDG7b4</th>
                <th>MDG7b5</th>
                <th>F1</th>
                <th>CN1</th>
                <th>GN1</th>
                <th>ER1a</th>
                <th>ER1b</th>
                <th>ER2a</th>
                <th>ER2b</th>
                <th>ER3a</th>
                <th>ER3b</th>
                <th>ER4a</th>
                <th>ER4b</th>
                <th>ER4c</th>
                <th>ER5a</th>
                <th>ER5b</th>
                <th>ER6a</th>
                <th>ER6b</th>
                <th>ER7a</th>
                <th>ER7b</th>
                <th>ER8a</th>
                <th>ER8b</th>
                <th>ER9a</th>
                <th>ER9b</th>
                <th>ER10a</th>
                <th>ER10b</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
                <th>P7</th>
                <th>P8</th>
                <th>P9</th>
                <th>P10</th>
                <th>P11</th>
                <th>P12</th>
                <th>P13</th>
                <th>NP1</th>
                <th>NP2</th>
                <th>NP3</th>
                <th>NP4</th>
                <th>NP5</th>
                <th>NP6</th>
                <th>NP7</th>
                <th>NP8</th>
                <th>NP9</th>
                <th>NP10</th>
                <th>NP11</th>
                <th>NP12</th>
                <th>NP13</th>
            </tr>
            {% for country, country_targets in targets.items %}
            <tr>
                <td>{{ country.country }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country_targets.questions.1.latest_value }}</td>
                <td>{{ country_targets.questions.1.comments }}</td>
                <td>{{ country_targets.questions.2.latest_value }}</td>
                <td>{{ country_targets.questions.3.latest_value }}</td>
                <td>{{ country_targets.questions.12.latest_value }}</td>
                <td>{{ country_targets.questions.15.latest_value }}</td>
                <td>{{ country_targets.indicators.8G.latest_value }}</td>
                <td></td>
                <td>{{ country_targets.questions.5.baseline_year }}</td>
                <td>{{ country_targets.questions.6.baseline_value }}</td>
                <td>{{ country_targets.questions.5.latest_year }}</td>
                <td>{{ country_targets.questions.6.latest_value }}</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>??</td>
                <td>{{ country_targets.indicators.3G.latest_value }}</td>
                <td>{{ country_targets.indicators.3G.hs_budget_gap }}</td>
                <td>{{ country_targets.indicators.3G.latest_value }}% allocated to health</td>
                <td>{{ country_targets.indicators.3G.hs_budget_gap }}% increase needed to meet the Abuja target (15%)</td>
                <td>{{ country_targets.questions.16.latest_value }}</td>
                <td>{{ country_targets.questions.16.comments }}</td>
                <td>??</td>
                <td>{{ country_targets.questions.9.comments }}</td>
                <td>??</td>
                <td>{{ country_targets.questions.10.comments }}</td>
                <td>??</td>
                <td>
                {% for agency, aqs in country_targets.agencies.items %}
                {{ agency }}] {{ aqs.4.comments }}<br/>
                {% endfor %}
                </td>
                <td>{{ country_targets.indicators.other.outpatient_visits_baseline }}</td>
                <td>{{ country_targets.questions.19.baseline_year }}</td>
                <td>{{ country_targets.indicators.other.outpatient_visits_latest }}</td>
                <td>{{ country_targets.questions.19.latest_year }}</td>
                <td>{{ country_targets.indicators.other.outpatient_visits_change }}</td>
                <td>??</td>
                <td>{{ country_targets.indicators.other.skilled_personnel_baseline }}</td>
                <td>{{ country_targets.questions.17.baseline_year }}</td>
                <td>{{ country_targets.indicators.other.skilled_personnel_latest }}</td>
                <td>{{ country_targets.questions.17.latest_year }}</td>
                <td>{{ country_targets.indicators.other.skilled_personnel_change }}</td>
                <td>??</td>
                <td>{{ country_targets.questions.20.baseline_value }}</td>
                <td>{{ country_targets.questions.20.baseline_year }}</td>
                <td>{{ country_targets.questions.20.latest_value }}</td>
                <td>{{ country_targets.questions.20.latest_year }}</td>
                <td>{{ country_targets.indicators.other.health_workforce_spent_change }}</td>
                <td>??</td>
                <td>{{ country_targets.questions.11.latest_value }}</td>
                <td>{{ country_targets.questions.22.latest_value }}</td>
                <td>{{ country_targets.questions.23.latest_value }}</td>
                <td>{{ country_targets.questions.21.latest_value }}</td>
                <td>{{ country_targets.questions.21.comments }}</td>
                <td>{{ country_targets.questions.12.latest_value }}</td>
                <td></td>
                <td>{{ country_targets.questions.24.latest_value }}</td>
                <td></td>
                <td></td>
                <td>{{ country_targets.questions.11.latest_value }}</td>
                <td>{{ country_targets.questions.11.comments }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ country.country }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country_targets.questions.1.latest_value }}</td>
                <td>{{ country_targets.questions.1.comments }}</td>
                <td>
                {{ country_targets.questions.2.latest_value }}<br/>
                {{ country_targets.questions.3.latest_value }}
                </td>
                <td>
                {{ country_targets.questions.2.comments }}<br/>
                {{ country_targets.questions.3.comments }}
                </td>
                <td>{{ country_targets.questions.4.latest_value }}</td>
                <td>{{ country_targets.questions.4.comments }}</td>
                <td>{{ country_targets.indicators.3G.latest_value }}</td>
                <td>{{ country_targets.questions.5.comments }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country_targets.indicators.4G.latest_value }}</td>
                <td>{{ country_targets.questions.7.comments }}</td>
                <td>{{ country_targets.indicators.other.pfm_diff }}</td>
                <td>{{ country_targets.questions.9.comments }}</td>
                <td>??</td>
                <td>{{ country_targets.questions.10.comments }}</td>
                <td>{{ country_targets.questions.11.latest_value }}</td>
                <td>{{ country_targets.questions.11.comments }}</td>
                <td>{{ country_targets.questions.12.latest_value }}</td>
                <td>{{ country_targets.questions.12.comments }}</td>
                <td>{{ country_targets.indicators.8G.latest_value }}</td>
                <td>{{ country_targets.questions.13.comments }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country_targets.p.1 }}</td>
                <td>{{ country_targets.p.2 }}</td>
                <td>{{ country_targets.p.3 }}</td>
                <td>{{ country_targets.p.4 }}</td>
                <td>{{ country_targets.p.5 }}</td>
                <td>{{ country_targets.p.6 }}</td>
                <td>{{ country_targets.p.7 }}</td>
                <td>{{ country_targets.p.8 }}</td>
                <td>{{ country_targets.p.9 }}</td>
                <td>{{ country_targets.p.10 }}</td>
                <td>{{ country_targets.p.11 }}</td>
                <td>{{ country_targets.p.12 }}</td>
                <td>{{ country_targets.p.13 }}</td>
                <td>{{ country_targets.np.1 }}</td>
                <td>{{ country_targets.np.2 }}</td>
                <td>{{ country_targets.np.3 }}</td>
                <td>{{ country_targets.np.4 }}</td>
                <td>{{ country_targets.np.5 }}</td>
                <td>{{ country_targets.np.6 }}</td>
                <td>{{ country_targets.np.7 }}</td>
                <td>{{ country_targets.np.8 }}</td>
                <td>{{ country_targets.np.9 }}</td>
                <td>{{ country_targets.np.10 }}</td>
                <td>{{ country_targets.np.11 }}</td>
                <td>{{ country_targets.np.12 }}</td>
                <td>{{ country_targets.np.13 }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
