{% extends "submissions/graph_base.html" %}

{% block graphdefs %}

<script>
{{ graph_2DPa|safe }}
{{ graph_2DPb|safe }}
{{ graph_2DPc|safe }}
{{ graph_3DP|safe }}
{{ graph_4DP|safe }}
{{ graph_5DPa|safe }}
{{ graph_5DPb|safe }}
{{ graph_5DPc|safe }}

</script>
{% endblock %}

{% block body %}
<h1>{{ agency }}</h1>

<div class="graphblock"><div id="graph_2DPa" class="graph"></div></div>
<div class="graphblock"><div id="graph_2DPb" class="graph"></div></div>
<div class="graphblock"><div id="graph_2DPc" class="graph"></div></div>
<div class="graphblock"><div id="graph_3DP" class="graph"></div></div>
<div class="graphblock"><div id="graph_4DP" class="graph"></div></div>
<div class="graphblock"><div id="graph_5DPa" class="graph"></div></div>
<div class="graphblock"><div id="graph_5DPb" class="graph"></div></div>
<div class="graphblock"><div id="graph_5DPc" class="graph"></div></div>

{% endblock %}
