{% extends "base.html" %}
{% block head %}
<style>
table {
    
}
th, td {
    text-align: left;
}
</style>
{% endblock %}
{% block body %}
<h1>IHP+ Data Tables</h1>

<h2>Data Tables by Development Partner across IHP+ Countries (in which they are active)</h2>
<table>
    <tr>
        <th>Agency</th>
        <th>Table</th>
    </tr>
    {% for agency in agencies %}
    <tr>
        <td>{{ agency.agency }}</td>
        <td><a href="{% url datatables_agency_table_by_agency agency.id "English" %}">Table</a></td>
    </tr>
    {% endfor %}
</table>
<h2>Data Tables by IHP+ Country across Active IHP+ Development Partners</h2>
<table>
    <tr>
        <th>Country</th>
        <th>Table</th>
    </tr>
    {% for country in countries %}
    <tr>
        <td>{{ country.country }}</td>
        <td><a href="{% url datatables_agency_table_by_country country.id "English" %}">Table</a></td>
    </tr>
    {% endfor %}
</table>

<h2>IHP+ Country Government Data</h2>
<a href="{% url datatables_country_matrix "English" %}">All Countries</a>
{% endblock %}
