<html>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Agency</th>
                <th>Country</th>
                <th>Question Number</th>
                <th>Baseline Year</th>
                <th>Baseline Value</th>
                <th>Latest Year</th>
                <th>Latest Value</th>
                <th>Comments</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question.submission.agency }}_{{ question.submission.country }}_{{ question.question_number }}</td>
                    <td>{{ question.submission.agency }}</td>
                    <td>{{ question.submission.country }}</td>
                    <td>{{ question.question_number }}</td>
                    <td>{{ question.baseline_year }}</td>
                    <td>{{ question.base_val }}</td>
                    <td>{{ question.latest_year }}</td>
                    <td>{{ question.cur_val }}</td>
                    <td>{{ question.comments }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
