{% extends "base.html" %}

{% block head %}
{{ form.media }}
<style>
.gentext {
    text-align: left;
}
</style>
{% endblock %}

{% block body %}
<form class="styleform">
    <fieldset>
        <legend>Agency</legend>
        <ol><li>{{ form.agency }}</li></ol>
    </fieldset>
    <fieldset>
        <legend>1DP</legend>
        <ol>
            <li>
            {{ form.r1.label_tag }}
            {{ form.r1 }}
            </li>
            <li>
            {{ form.er1_English.label_tag }}
            {{ form.er1_English }}
            </li>
            <li>
            {{ form.er1_French.label_tag }}
            {{ form.er1_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr1"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2DPa</legend>
        <ol>
            <li>
            {{ form.r2a.label_tag }}
            {{ form.r2a }}
            </li>
            <li>
            {{ form.er2a_English.label_tag }}
            {{ form.er2a_English }}
            </li>
            <li>
            {{ form.er2a_French.label_tag }}
            {{ form.er2a_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr2a"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2DPb</legend>
        <ol>
            <li>
            {{ form.r2b.label_tag }}
            {{ form.r2b }}
            </li>
            <li>
            {{ form.er2b_English.label_tag }}
            {{ form.er2b_English }}
            </li>
            <li>
            {{ form.er2b_French.label_tag }}
            {{ form.er2b_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr2b"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2DPc</legend>
        <ol>
            <li>
            {{ form.r2c.label_tag }}
            {{ form.r2c }}
            </li>
            <li>
            {{ form.er2c_English.label_tag }}
            {{ form.er2c_English }}
            </li>
            <li>
            {{ form.er2c_French.label_tag }}
            {{ form.er2c_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr2c"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>3DP</legend>
        <ol>
            <li>
            {{ form.r3.label_tag }}
            {{ form.r3 }}
            </li>
            <li>
            {{ form.er3_English.label_tag }}
            {{ form.er3_English }}
            </li>
            <li>
            {{ form.er3_French.label_tag }}
            {{ form.er3_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr3"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>4DP</legend>
        <ol>
            <li>
            {{ form.r4.label_tag }}
            {{ form.r4 }}
            </li>
            <li>
            {{ form.er4_English.label_tag }}
            {{ form.er4_English }}
            </li>
            <li>
            {{ form.er4_French.label_tag }}
            {{ form.er4_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr4"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5DPa</legend>
        <ol>
            <li>
            {{ form.r5a.label_tag }}
            {{ form.r5a }}
            </li>
            <li>
            {{ form.er5a_English.label_tag }}
            {{ form.er5a_English }}
            </li>
            <li>
            {{ form.er5a_French.label_tag }}
            {{ form.er5a_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr5a"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5DPb</legend>
        <ol>
            <li>
            {{ form.r5b.label_tag }}
            {{ form.r5b }}
            </li>
            <li>
            {{ form.er5b_English.label_tag }}
            {{ form.er5b_English }}
            </li>
            <li>
            {{ form.er5b_French.label_tag }}
            {{ form.er5b_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr5b"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5DPc</legend>
        <ol>
            <li>
            {{ form.r5c.label_tag }}
            {{ form.r5c }}
            </li>
            <li>
            {{ form.er5c_English.label_tag }}
            {{ form.er5c_English }}
            </li>
            <li>
            {{ form.er5c_French.label_tag }}
            {{ form.er5c_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr5c"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>6DP</legend>
        <ol>
            <li>
            {{ form.r6.label_tag }}
            {{ form.r6 }}
            </li>
            <li>
            {{ form.er6_English.label_tag }}
            {{ form.er6_English }}
            </li>
            <li>
            {{ form.er6_French.label_tag }}
            {{ form.er6_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr6"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>7DP</legend>
        <ol>
            <li>
            {{ form.r7.label_tag }}
            {{ form.r7 }}
            </li>
            <li>
            {{ form.er7_English.label_tag }}
            {{ form.er7_English }}
            </li>
            <li>
            {{ form.er7_French.label_tag }}
            {{ form.er7_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr7"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>8DP</legend>
        <ol>
            <li>
            {{ form.r8.label_tag }}
            {{ form.r8 }}
            </li>
            <li>
            {{ form.er8_English.label_tag }}
            {{ form.er8_English }}
            </li>
            <li>
            {{ form.er8_French.label_tag }}
            {{ form.er8_French }}
            </li>
            <li class="gentext">
                Generated Text:<br/>
                <div id="id_gr8"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <ol>
            <li><button id="id_submit">Save</button></li>
        </ol>
    <fieldset>
</form>
{% endblock %}
