{% extends "base.html" %}

{% block head %}
{{ form.media }}
<style>

.comments {
    text-align: left;
}

.text_box {
    width: 400px;
    float: left;
}

.french {
    background-color: #6ea265;
}

</style>
{% endblock %}

{% block body %}
<form class="styleform">
    <fieldset>
        <legend>Agency</legend>
        <ol><li>{{ form.agency }}</li></ol>
    </fieldset>
    <fieldset>
        <legend>1DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text1" class="comments"></div>
            </li>
            <li>
            {{ form.erb1_English.label_tag }}
            {{ form.erb1_English }}
            </li>
            <li>
            {{ form.erb1_French.label_tag }}
            {{ form.erb1_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2DP</legend>
        <ol>
            <li>
                2DPa Comments<br/>
                <div id="id_text2a" class="comments"></div>
            </li>
            <li>
                2DPb Comments<br/>
                <div id="id_text2b" class="comments"></div>
            </li>
            <li>
                2DPc Comments<br/>
                <div id="id_text2c" class="comments"></div>
            </li>
            <li>
            {{ form.erb2_English.label_tag }}
            {{ form.erb2_English }}
            </li>
            <li>
            {{ form.erb2_French.label_tag }}
            {{ form.erb2_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>3DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text3" class="comments"></div>
            </li>
            <li>
            {{ form.erb3_English.label_tag }}
            {{ form.erb3_English }}
            </li>
            <li>
            {{ form.erb3_French.label_tag }}
            {{ form.erb3_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>4DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text4" class="comments"></div>
            </li>
            <li>
            {{ form.erb4_English.label_tag }}
            {{ form.erb4_English }}
            </li>
            <li>
            {{ form.erb4_French.label_tag }}
            {{ form.erb4_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5DP</legend>
        <ol>
            <li>
                5DPa Comments<br/>
                <div id="id_text5a" class="comments"></div>
            </li>
            <li>
                5DPb Comments<br/>
                <div id="id_text5b" class="comments"></div>
            </li>
            <li>
                5DPc Comments<br/>
                <div id="id_text5c" class="comments"></div>
            </li>
            <li>
            {{ form.erb5_English.label_tag }}
            {{ form.erb5_English }}
            </li>
            <li>
            {{ form.erb5_French.label_tag }}
            {{ form.erb5_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>6DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text6" class="comments"></div>
            </li>
            <li>
            {{ form.erb6_English.label_tag }}
            {{ form.erb6_English }}
            </li>
            <li>
            {{ form.erb6_French.label_tag }}
            {{ form.erb6_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>7DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text7" class="comments"></div>
            </li>
            <li>
            {{ form.erb7_English.label_tag }}
            {{ form.erb7_English }}
            </li>
            <li>
            {{ form.erb7_French.label_tag }}
            {{ form.erb7_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>8DP</legend>
        <ol>
            <li>
                Comments<br/>
                <div id="id_text8" class="comments"></div>
            </li>
            <li>
            {{ form.erb8_English.label_tag }}
            {{ form.erb8_English }}
            </li>
            <li>
            {{ form.erb8_French.label_tag }}
            {{ form.erb8_French }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <ol>
            <li><button id="id_submit">Save</button></li>
        </ol>
    <fieldset>
</form>
{% endblock %}
