{% extends "base.html" %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block body %}
<form class="styleform">
    <fieldset>
        <legend>Country</legend>
        <ol>
            <li>{{ form.country }}</li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>1G</legend>
        <ol>
            <li>
            {{ form.r1.label_tag }}
            {{ form.r1 }}
            </li>
            <li>
            {{ form.er1_en.label_tag }}
            {{ form.er1_en }}
            </li>
            <li>
            {{ form.er1_fr.label_tag }}
            {{ form.er1_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr1"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2Ga</legend>
        <ol>
            <li>
            {{ form.r2a.label_tag }}
            {{ form.r2a }}
            </li>
            <li>
            {{ form.er2a_en.label_tag }}
            {{ form.er2a_en }}
            </li>
            <li>
            {{ form.er2a_fr.label_tag }}
            {{ form.er2a_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr2a"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>2Gb</legend>
        <ol>
            <li>
            {{ form.r2b.label_tag }}
            {{ form.r2b }}
            </li>
            <li>
            {{ form.er2b_en.label_tag }}
            {{ form.er2b_en }}
            </li>
            <li>
            {{ form.er2b_fr.label_tag }}
            {{ form.er2b_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr2b"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>3G</legend>
        <ol>
            <li>
            {{ form.r3.label_tag }}
            {{ form.r3 }}
            </li>
            <li>
            {{ form.er3_en.label_tag }}
            {{ form.er3_en }}
            </li>
            <li>
            {{ form.er3_fr.label_tag }}
            {{ form.er3_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr3"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>4G</legend>
        <ol>
            <li>
            {{ form.r4.label_tag }}
            {{ form.r4 }}
            </li>
            <li>
            {{ form.er4_en.label_tag }}
            {{ form.er4_en }}
            </li>
            <li>
            {{ form.er4_fr.label_tag }}
            {{ form.er4_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr4"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5Ga</legend>
        <ol>
            <li>
            {{ form.r5a.label_tag }}
            {{ form.r5a }}
            </li>
            <li>
            {{ form.er5a_en.label_tag }}
            {{ form.er5a_en }}
            </li>
            <li>
            {{ form.er5a_fr.label_tag }}
            {{ form.er5a_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr5a"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>5Gb</legend>
        <ol>
            <li>
            {{ form.r5b.label_tag }}
            {{ form.r5b }}
            </li>
            <li>
            {{ form.er5b_en.label_tag }}
            {{ form.er5b_en }}
            </li>
            <li>
            {{ form.er5b_fr.label_tag }}
            {{ form.er5b_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr5b"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>6G</legend>
        <ol>
            <li>
            {{ form.r6.label_tag }}
            {{ form.r6 }}
            </li>
            <li>
            {{ form.er6_en.label_tag }}
            {{ form.er6_en }}
            </li>
            <li>
            {{ form.er6_fr.label_tag }}
            {{ form.er6_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr6"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>7G</legend>
        <ol>
            <li>
            {{ form.r7.label_tag }}
            {{ form.r7 }}
            </li>
            <li>
            {{ form.er7_en.label_tag }}
            {{ form.er7_en }}
            </li>
            <li>
            {{ form.er7_fr.label_tag }}
            {{ form.er7_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr7"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>8G</legend>
        <ol>
            <li>
            {{ form.r8.label_tag }}
            {{ form.r8 }}
            </li>
            <li>
            {{ form.er8_en.label_tag }}
            {{ form.er8_en }}
            </li>
            <li>
            {{ form.er8_fr.label_tag }}
            {{ form.er8_fr }}
            </li>
            <li>
                Generated Text:<br/>
                <div id="id_gr8"></div>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Health Management Information Systems</legend>
        <ol>
            <li>
            {{ form.hmis1.label_tag }}
            {{ form.hmis1 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Joint Health Sector Reviews Conducted</legend>
        <ol>
            <li>
            {{ form.jar1.label_tag }}
            {{ form.jar1 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Includes targets and budgets</legend>
        <ol>
            <li>
            {{ form.hsp1.label_tag }}
            {{ form.hsp1 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Jointly assessed</legend>
        <ol>
            <li>
            {{ form.hsp2.label_tag }}
            {{ form.hsp2 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Active Joint monitoring</legend>
        <ol>
            <li>
            {{ form.hsm1.label_tag }}
            {{ form.hsm1 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Quality of civil society engagement</legend>
        <ol>
            <li>
            {{ form.hsm4.label_tag }}
            {{ form.hsm4 }}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <ol>
            <li><button id="id_submit">Save</button></li>
        </ol>
    <fieldset>
</form>
{% endblock %}
