{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/highcharts.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/exporting.js"></script>

{% block graphdefs %}
{% endblock graphdefs %}

<style>
.graph {
    height: 400px;
    width: 800px;
}

.graphblock {
    float: left;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    font-family: verdana;
}
</style>

{% endblock %}
