{% extends "submissions/graph_base.html" %}

{% block graphdefs %}

<script>
{{ graph_2DPa|safe }}
{{ graph_aob|safe }}
{{ graph_2DPb|safe }}
{{ graph_tc|safe }}
{{ graph_2DPc|safe }}
{{ graph_pba|safe }}
{{ graph_3DP|safe }}
{{ graph_multi_year|safe }}
{{ graph_4DP|safe }}
{{ graph_5DPa|safe }}
{{ graph_procurement|safe }}
{{ graph_5DPb|safe }}
{{ graph_pfm|safe }}
{{ graph_5DPc|safe }}
</script>

{% endblock %}

{% block body %}
<h1>{{ indicator }}</h1>

<div>
    <div class="graphblock"><div id="graph_2dpa" class="graph"></div></div>
    <div class="graphblock"><div id="graph_aob" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_2dpb" class="graph"></div></div>
    <div class="graphblock"><div id="graph_tc" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_2dpc" class="graph"></div></div>
    <div class="graphblock"><div id="graph_pba" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_3dp" class="graph"></div></div>
    <div class="graphblock"><div id="graph_multi_year" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_4dp" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_5dpa" class="graph"></div></div>
    <div class="graphblock"><div id="graph_procurement" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_5dpb" class="graph"></div></div>
    <div class="graphblock"><div id="graph_pfm" class="graph"></div></div>
</div>

<div>
    <div class="graphblock"><div id="graph_5dpc" class="graph"></div></div>
</div>

{% endblock %}
