body 
{
	max-width:900px;
	min-width:400px;
	margin:0 auto;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:82.5%;
}

a, a:link, a:active 
{
	outline:none;
	outline-style:none;
}

a img 
{
	border:none;
}

#scorecard_header 
{
	display:block;
	margin:10px 0;
	overflow:auto;
}

#scorecard_header h1 
{
	display:block;
	float:left;
	clear:none;
	position:relative;
	padding:10px;
	margin:0;
	text-align: center;
}

#scorecard_header h2 
{
	float:right;
	clear:none;
	padding:10px;
	margin:0;
	font-size:1em;
	color:#666666;
	border:2px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align: center;
}

#scorecard_header h2 a,
#scorecard_header h2 span 
{
	display:block;
	margin: 0.5em 0 0;
}

table.scorecard, #content table.scorecard 
{
	font-family:Arial, Helvetica, Verdana, sans-serif;
	margin-bottom:20px;
	clear:both;
	border:none;
}

#content table.scorecard tr td
{
	border: none;
	padding: 0;
}

tr.headings th, #content table.scorecard tr.headings th 
{
	padding: 0;
}

tr.headings th.expected_result
{
	padding-right: 10px;
}

tr.headings th.overall_progress
{
	padding-left: 10px;
}

th.progress, td.progress 
{
	padding:0;
}

table.scorecard tr.headings th h2,
#content table.scorecard tr.headings th h2
{
	color: white;
	text-align: left;
	text-transform: uppercase;
	background-color: #0a3e3d;
	padding: 6px 15px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:0.9em;
	letter-spacing:1px;
	margin:6px 0;
}

table.scorecard tr.countries ul 
{
	list-style:none;
	list-style-image:none;
	padding:5px 10px;
	margin:0;
	border:2px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:block;
	position:relative;
	overflow:auto;
}

table.scorecard tr.countries.reporting ul 
{
	background-color:#E1E8E5;
	border:none;
}

table.scorecard tr.countries ul li 
{
	padding:0;
	margin:0;
	display:block;
	float:left;
}

tr.countries img, #content tr.countries img
{
	width:50px;
	height:25px;
	padding:5px;
}

/*tr.indicator*/

tr.indicator td.expected_result 
{
	/*border-left:1px solid #cfd5d5;*/
	border-bottom: 0px none;
	background-image:url(../images/cell-bg-indicator.png);
	background-repeat:no-repeat;
	background-position:0 bottom;
}

tr.indicator > td 
{
	border-bottom:1px solid #cfd5d5;
	padding:10px;
}

/*Expected Result column*/

tr.headings th.expected_result
{
	width:300px;
	padding-left:0;
}

tr.indicator td.expected_result
{
	height:1%;
}

td.expected_result table
{ 
	background-color:#e1e8e5;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	height:100%;
}

td.expected_result table td
{ 
	padding:10px;
}

td.expected_result td.icon
{
	padding: 0 auto;
}

/*rating column*/

td.rating 
{
	text-align:center;
	width:50px;
}

td.rating img 
{
	/*
	width:60px;
	height:40px;
	*/
	padding:5px;
}

/*overall prograss column*/

tr.headings th.overall_progress
{
	padding-right:0;
}

tr.indicator td.overall_progress 
{
	padding:0px 20px 10px 10px;
	border-right:1px solid #cfd5d5;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

tr.indicator_spacer td
{
	height: 10px;
}