body
{
	/* copy font from ihpresults theme for visual comparability */
	font: 80%/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div.scorecard 
{
	max-width:960px;
	min-width:400px;
	margin:0 auto;
}

/* Hide Wordpress's H1 when using our custom Scorecard template */
div.scorecard-page h1
{
	display: none;
}

#content a, #content a:link, #content a:active 
{
	outline:none;
	outline-style:none;
}

#content a img 
{
	border:none;
}

#content #scorecard_header 
{
	display:block;
	margin:10px 0;
	overflow:auto;
}

#content #scorecard_header h1 
{
	display:block;
	float:left;
	clear:none;
	position:relative;
	padding:10px;
	margin:0;
	text-align: center;
}

#content #scorecard_header h2 
{
	float:right;
	clear:none;
	padding:10px;
	margin:0;
	font-size:1em;
	color:#666666;
	border:2px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-align: center;
}

#content #scorecard_header h2 a,
#content #scorecard_header h2 span 
{
	display:block;
	margin: 0.5em 0 0;
}

#content h1 a.button 
{
	font-size: 0.6em;
	margin-left: 0.5em;
	display: inline-block;
}

#content table.scorecard
{
	font-family:Arial, Helvetica, Verdana, sans-serif;
	margin-bottom:20px;
	clear:both;
	border:none;
}

#content table.scorecard tr td
{
	border: none;
	border-top: none;
	padding: 0;
}

#content table.scorecard tr.headings th 
{
	padding: 0;
}

#content table.scorecard tr.headings th.expected_result
{
	padding-right: 10px;
}

#content table.scorecard tr.headings th.overall_progress
{
	padding-left: 10px;
}

#content table.scorecard .progress 
{
	padding:0;
}

#content table.scorecard tr.countries ul 
{
	list-style:none;
	list-style-image:none;
	padding:5px 10px;
	margin:0;
	border:2px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:block;
	position:relative;
	overflow:auto;
}

#content table.scorecard tr.countries.reporting ul 
{
	background-color:#E1E8E5;
	border:none;
}

#content table.scorecard tr.countries ul li 
{
	padding:0;
	margin:0;
	display:block;
	float:left;
}

#content table.scorecard tr.countries img
{
	width:50px;
	height:25px;
	padding:5px;
}

/*tr.indicator*/

#content table.scorecard tr.indicator td.expected_result 
{
	/*border-left:1px solid #cfd5d5;*/
	border-left:1px solid #DFD5D5;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottomleft-radius:10px;
	height:1%;
	position:relative;
}


#content table.scorecard tr.indicator > td 
{
	border-bottom:1px solid #cfd5d5;
	padding:10px;
}

/*Expected Result column*/

#content table.scorecard tr.headings th.expected_result
{
	width:300px;
	padding-left:0;
}

td.expected_result span.text {
	display:block;
	background-color:#D1DDD9;
	display:compact;
}

#content table.scorecard td.expected_result table td
{ 
	padding:10px;
}

#content table.scorecard td.expected_result td.icon
{
	padding: 0 auto;
}

/*rating column*/

#content table.scorecard td.rating 
{
	text-align:center;
	width:60px;
}

#content table.scorecard td.rating img 
{
	/*
	width:60px;
	height:40px;
	*/
	padding:5px;
}

/*overall prograss column*/

#content table.scorecard tr.headings th.overall_progress
{
	padding-right:0;
}

#content table.scorecard tr.indicator td.overall_progress 
{
	padding:0px 20px 10px 10px;
	border-right:1px solid #cfd5d5;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

#content table.scorecard tr.indicator_spacer td
{
	height: 10px;
}

/*---Country scorecard styles---*/

.country #content #scorecard_header h2 {
	padding-left:20px;
	text-align:left;
	width:700px;
	background-color:#E1E8E5;
	font-weight:1.3em;
	color:#000;
	border:none;
	margin-top:10px;
}

.country #scorecard_header h2 img {
	float:left;
	padding-right:10px;
	width:50px;
}

div.col {
	width:313px; /* 960-600(scorecard)-30(scorecard padding)-2(scorecard borders)-15(left padding)*/
	padding:15px;
	float:left;
}

/*Scorecard column styles*/

#scorecard  {
	border:1px solid #b3c6c0;
	width:600px;/*640-30(padding)-2(borders)-8(column spacing/2)*/
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin-top:15px;
}

#scorecard h2, #scorecard h3 {
	margin: 0 0 10px;
	/* position:relative; breaks tooltip positioning */
	font-size:0.9em;
	clear:both;
	background-color:#0A3E3D;
	padding:2px 11px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color:white;
	text-transform:uppercase;
}

#scorecard h2 span {
	display: inline-block;
}

#scorecard h2 .expected {
 	width: 170px;
}
 
#scorecard h2 .rating {
 	width: 73px;
 	text-align: center;
}
 
.country #scorecard h2 .comment {
	display: inline;
 	float: right;
}

.agency #scorecard h2 .progress,
.agency #scorecard td.progress {
	width: 157px; /*(600-170-73-11*2-10)/2*/
}

.agency #scorecard h2 .progress {
	margin-right: 10px;
}

.agency #scorecard h2 .further-details,
.agency #scorecard td.further-details {
	width: 168px; /*(600-170-73-11*2)/2*/
}

#content #infobox ul.logos {
	border:1px solid #D1DDD9;
	padding:10px;
	margin: 10px 0 0;
	list-style:none;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	clear:both;
	position:relative;
	display:block;
	float:left;
}

#content #infobox ul.logos li {
	display:block;
	margin:5px;
	padding:0;
	float:left;
	text-align:left;
	overflow:hidden;
}

#content #infobox ul.logos li img.logo {
	background-color:black;
	height:40px;
	display:block;
}

#content #infobox ul.logos li span.name {
	font-size:0.8em;	
}

#scorecard .category {
	border:1px solid #b3c6c0;
	padding:0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:15px 0 0;
}

#scorecard td.expected_result {
	background-color:#D1DDD9;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	width: 150px;
	padding: 10px;
}

#scorecard td.expected_result p {
	margin: 10px 0 0;
	position: relative; /* needed for icon positioning, but breaks IE7 menus */
}

#scorecard td.rating {
	width: 40px;
	text-align: center;
}

#scorecard dl dt p {
	padding:10px;
}

#scorecard td img.icon {
	position:absolute;
	top:-42px;
	left:10px;
}

#scorecard td {
	vertical-align: top;
}

#scorecard td.progress {
	padding-bottom: 10px;
	border-bottom: 2px dotted #D1DDD9;
}

#scorecard tr.last td {
	border-bottom: none;
}

#scorecard dd img {
	position:absolute;
	left:0px;
}


/*Infobox column styles*/

#infobox {
	padding:0 0 0 15px;
}

.infobox, .infobox-fixed {
	border:2px solid #f68b1f;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:10px;
}

.infobox .item, .infobox-fixed .item, .inner {
	background-color:#d1ddd9;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px;
	margin-bottom:10px;
}

#content .infobox h2,
#content .infobox-fixed h2 {
	margin:0;
	padding:2px 10px 2px 80px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color: #0a3e3d;
	color:white;
	position:relative;
	text-align: left;
	text-transform: uppercase;
	font-size:0.9em;
	letter-spacing:1px;
}

#content .infobox h2#progress_heading,
#content .infobox h2#noprogress_heading,
#content .infobox-fixed h2 {
	padding-left: 10px;
}

.infobox h2 img {
	position:absolute;
	top:-20px;
	left:10px;
	width: 60px;
	height: 60px;
	z-index: 1; /* float over h3 */
}

.infobox h2 a {
	color: white;
	text-decoration: none;
}

#infobox .item h3 {
	background-color:#85A49B;
	color:#fff;
	text-transform:uppercase;
	padding:4px 10px 4px 70px;
	margin:0;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	position:relative;
	font-size:0.9em;
	clear:both;
}

#infobox .item h3 img {
	position:absolute;
	left:20px;
	top:-8px;
}

#infobox img.rating
{
	width: 40px;
	height: 27px;
}

#infobox p.spacer {
  display:block;
  height:26px;
  margin:0;
  clear:both;
  background-image:url('../images/infobox-spacer.png');
  background-repeat:no-repeat;
  background-position:top center;
}

/*Agency profile*/

#infobox .profile .item {
	margin: 10px 0 0;
}

/*Country-ownership*/

.infobox.country-ownership .item {
	background-image:url(../images/infobox-item-jigsaw-bg.png);
	background-position:top;
	background-repeat:no-repeat;
	margin-bottom:0;
	padding-top:30px;
}

/* country-ownership needs extra space above h3 for the jigsaw tongues */
.infobox.country-ownership .item h3 {
	margin: 30px 0 0;
	color:#0A3E3D;
	font-weight:bold;
}

.infobox.country-ownership > .item:first-child {
	background-image:none;
	padding-top:5px;
}

.country-ownership ul {
	margin-left:20px;
	margin-top:20px;
	padding-left:0;
}

.country-ownership li {
	border-bottom-color:#0A3E3D;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	list-style-position:outside;
	margin-bottom:10px;
	min-height:28px;
	padding-left:0;
	padding-bottom:4px;
}

.country-ownership li img {
	float:right;
	top:-4px;
}

.country-ownership .item p {
	padding:0 20px;
}

/*Health Financing*/

.health-financing .item {
	margin-bottom: 0; /* 10px looks bad without backgrounds on items */
	text-align: center; /* centre the blocks */
	clear:both;
	background-color:transparent;
}

/* but don't center their contents */
.health-financing .item > * {
	text-align: left;
}

.health-financing .external-financing {background-color:#D1DDD9;}
.health-financing .external-financing h3 {
	background-color:inherit;
	color:#0A3E3D;
	font-size:1em;
	font-weight:bold;
	padding:0 10px;
	text-align:center;
}

.health-financing .external-financing p.number  {
	font-size:4em;
	text-align:center;
	margin:0;
	font-weight:bold;
}
 
.health-financing .external-financing p.bubble {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#87D1D1;
	margin-bottom:0;
	margin-top:25px;
	padding:10px 20px;
	position:relative;
}

.health-financing .external-financing span.pointer { 
	position:absolute;
	display:block;
	background-image:url('../images/pointer-top-left.png');
	width:66px;
	height:32px;
	top:-29px;
	left:100px;
}

#infobox .health-financing .item img {
	display: block;
	margin: 1em auto;
	clear:both;
}

/*
resize images using:

for country in "Burkina Faso" Burundi Djibouti DRC Ethiopia Mali Mozambique \
	Nepal Niger Nigeria
do
	gm convert -geometry 269x270 "${country}barnew.png" "$country-barchart-269.png"
	gm convert -geometry 150x180 "${country}-pie.png" "$country-piechart-150.png"
	gm convert -geometry 269x270 "${country}hss.png" "$country-hss-269.png"
	country_nospace=$(echo $country | sed -e 's/ //')
	gm convert -geometry 1000x40 +dither -colors 17 $country_nospace.png $country_nospace-40.png
done

for partner in AusAID Belgium EC GAVI GFATM Netherlands Norway Spain Sweden \
	UNAIDS UNFPA UNICEF WHO  WorldBank
do
	gm convert -geometry 1000x40 +dither -colors 48 $partner.png $partner-40.png
done
*/

#infobox .health-financing .item img.barchart {
	width:269px; /*313-2*2(borders)-2*10(infobox padding)-2*10(item padding)*/
	height:auto;
}

#infobox .health-financing .item img.pie { 
  position:relative;
  width: 150px;
  height:auto;
}

.health-financing .chart-key {
	margin: 0 0 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #b3c6c0;
	padding: 0.5em;
	display: block;
}

.health-financing .key-item {
	margin: 0.2em;
}

.health-financing .key {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #black;
	vertical-align: -0.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*Country Systems*/

.country-systems .item-wrap {
  background-color:#D1DDD9;
  margin-top:30px;
  position:relative;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding:10px;
}

.country-systems .item {border:1px solid #668D82;
}

.country-systems .item h3 {
  background-color:#fff;
  color:#0A3E3D;
  padding:2px 10px;
  margin-bottom:10px;
}

.country-systems .item img.rating {
	float: left;
	margin: 0 1em 1em 0;
}

/*Health Systems*/

.health-systems .item {
	background-color:#fff;
}

#infobox .health-systems .item img.barchart {
	width:269px; /*313-2*2(borders)-2*10(infobox padding)-2*10(item padding)*/
	height:auto;
}

/*Managing for Development*/

#content .infobox.managing-for-development h3 {
	clear:none;
	margin-bottom:0.5em;
	background-color:transparent;
	color:#0A3E3D;
	font-weight:bold;
	padding:0 0 0 50px;
}

.infobox.managing-for-development img {
	float: left;
	display:block;
	margin-bottom:0.5em;
}

.infobox.managing-for-development ul {
  clear:both;
  font-weight:normal;
  padding-left:65px;
}

/* Background and z-index hacks for ie-css3.htc */
#scorecard, .infobox { 
  clear:both;
  margin:0;
}

/* Override Wordpress themes */
.scorecard img
{
	background: transparent;
	border: none;
	margin: 0;
	max-width: auto;
	padding: 0;
}
.scorecard h3
{
	border-bottom: none;
}
.scorecard ul
{
	float: none;
}
.scorecard ul li
{
	list-style-type: disc;
}
.scorecard table
{
	margin: 0;
}
.scorecard th, .scorecard td
{
	border-bottom: none;
	padding: inherit;
	line-height: inherit;
}
.scorecard h1, .scorecard h2, .scorecard h3, .scorecard h4 
{
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}
/* Hide wordpress frigging empty paragraphs where we don't want them */
.infobox > p {
	display: none;
}  

/* Simple Tooltips CSS styles */

#scorecard h2
{
}

#content .content {
	float:left;
	width:100%;
}

.callout-to {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	border:2px solid #F68B1F;
	padding: 10px;
	background: #fff;
	color: #333;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:4px 4px 8px #818181;
	-webkit-box-shadow:4px 4px 8px #818181;
	box-shadow:4px 4px 8px #818181;
	max-width:20em; /*UNICEF scorecard, DRC callout overflows*/ 
	text-align: left;
	text-transform: none;
	z-index: 10000; /* force above everything else, doesn't work for IE7 */
}

.callout-to a
{
	color: #ccc;
}

#scorecard td .callout-to th,
#scorecard td .callout-to td,
.callout-to th,
.callout-to td
{
	vertical-align: middle;
}

/* Data tables */

table.data {
	border-collapse: collapse;
}

table.data th, table.data td {
	padding: 0.2em 0.5em;
	text-align: left;
}

table.data th {
	border-bottom: 1px solid #ddd;
}

#scorecard tr.last td table.data td, 
table.data td {
	border: 1px solid #eee;
	border-style: solid none;
}

/* loading animation */
#ajax_loading {
	display: none;
}

