h1 {
    font-size: 160%;
}

.year {
    font-size: 0.8em;
}

table {
    border: solid thin black
    float: left;
    margin: auto;
}

th {
    text-align: center;
    font-size: 120%;
}

tr.head {
    background-color:black;
    color: white;
}

tr.head2 {
    font-size: 0.8em
}

tr.even{
    background-color: #C3C3C3;
}
tr.odd {
    background-color: #989494;
}

td, th {
    border: solid thin black;
    text-align: center;
    padding: 2px;
}

td {
    width: 50px;
    height: 50px;
}

td:nth-child(2n+1) td:first-child {
    text-align: left;
}

td:first-child + td {
    text-align: left;
}

.dpind td:first-child + td {
    text-align: center;
}

.dpind td:nth-of-type(3n+1), .dpind th:nth-of-type(3n+1) { 
    border-right: solid 2px black;
}

.dp td:nth-of-type(3n+2) { 
    border-right: solid 2px black;
}

.dp td:nth-of-type(3n+3) { 
    border-left: solid 2px black;
}

.gov td:nth-of-type(3n+2) { 
    border-right: solid 2px black;
}

.gov td:nth-of-type(3n+3) { 
    border-left: solid 2px black;
}

th.spm {
    padding: 3px;
    text-align: left;
    font-size: 0.95em;
    width: 500px;
}

h1 {
    text-align: center;
}

em {
    font-style: italic;
}

ul, ul li {
    list-style-type: disc;
    margin-left: 1em;
}

.footnotes {
    text-align: justify;
    margin-left: 1em;
    font-size: 0.8em;
    padding: 1em;
}
