<h1>{{agency.agency}} in {{country.country}}</h1>

<table class="data">
	<tr class="head">
		<th></th>
		<th colspan="3">{{country.country}}</th>
	</tr>
	
	<tr class="head">
		<th>{{agency.agency}}</th>
		<th>2007</th>
		<th>2009</th>
		<th>Rating ∆</th>
	</tr>
    
    {% for indicator_name, value in values %}
		<tr>
			<th>{{indicator_name}}</th>
			{% if value != None %}
				<td>{{value.baseline_value}}</td>
				<td>{{value.latest_value}}</td>
				<td><img src="{% url ihp-media path='images' %}/{{value.rating}}.png"
					alt="{{value.rating}}" class="rating"></td>
			{% else %}
				<td colspan="3">No data</td>
			{% endif %}
		</tr>
    {% endfor %}
    
    <!--
    <tr class="head2">
		<th>Total</th>
		{% if total != None %}
    		<td>{{total.baseline_value}}</td>
    		<td>{{total.latest_value}}</td>
    		<td><img src="{% url ihp-media path='images' %}/{{total.rating}}.png"
				alt="{{total.rating}}" class="rating"></td>
    	{% else %}
    		<td colspan="3">No data</td>
    	{% endif %}
    </tr>
    -->
</table>
