{% extends "public_base.html" %}
{% block title %}{{country.country}}{% endblock %}
{% block heading %}Country Scorecard for {{country.country}}{% endblock %}
{% block content %}

<div id="header">
	<h1><a href="http://network.human-scale.net/community/ihp/scorecards"><img
		src="{% url ihp-media path='images' %}/ihp-results-partner-scorecard-logo.png"
		alt="IHP+ Results Country Scorecard"></a></h1>
	<h2><img src="{% url ihp-media path='images' %}/{{country.country|cut:" "}}.png"
		alt="Country Scorecard for {{country.country}}" border="0">
	<span>Country Scorecard for {{country.country}}</span></h2>
	</div>
</div>

<table class="scorecard" cellspacing="0" cellpadding="0">
	<tr class="headings">
		<th class="progress" colspan="3">
			<h2>Agencies demonstrating progress in this country</h2>
		</th>
	</tr>
	<tr class="countries reporting">
		<td class="progress" colspan="3">
			<ul>
			{% for agency in progress_agencies %}
				<li><img src="{% url ihp-media path='images' %}/{{agency.agency|cut:" "}}.png"
					alt="{{agency.agency}}" class="logo" /></li>
			{% endfor %}
			</ul>
		</td>
	</tr>
	
	<tr class="headings">
		<th class="progress" colspan="3">
			<h2>Agencies not reporting progress in this country</h2>
		</th>
	</tr>
	<tr class="countries">
		<td class="progress" colspan="3">
			<ul>
			{% for agency in no_progress_agencies %}
				<li><img src="{% url ihp-media path='images' %}/{{agency.agency|cut:" "}}.png"
					alt="{{agency.agency}}" class="logo" /></li>
			{% endfor %}
			</ul>
		</td>
	</tr>
	
	<tr class="headings">
		<th class="expected_result"><h2>Expected Results</h2></th>
		<th class="rating"><h2>Rating</h2></th>
		<th class="overall_progress"><h2>Overall Progress</h2></th>
	</tr>
	
	{% for category in categories %}
		{% for indicator in category.indicators %}
		<tr class="indicator">
			{% if forloop.first %}
			<td class="expected_result" rowspan="{{category.indicators|length}}">
				<table><tr>
					<td class="icon">
						<img src="{% url ihp-media path='images' %}/results-icon-{{category.code}}.png"
							alt="icon" class="icon" />
					</td>
					<td class="text">
						{{category.expected_result}}
					</td>
				</td></tr></table>
			</td>
			{% endif %}
			
			<td class="rating {{indicator.rating}}">
				<img src="{% url ihp-media path='images' %}/{{indicator.rating}}.png"
					alt="{{indicator.rating}}" class="rating" />
			</td>
			
			<td class="overall_progress">
				{{indicator.overall_progress}}
			</td>
		</tr>
		{% endfor %}
	{% endfor %}
</table>
{% endblock %}
