{% extends "public_base.html" %}

{% block title %}{{country.country}}{% endblock %}

{% block head %}
	<!--
	Adds the data table to the #country_spms_content callout template
	below. This has to be done before the javascript in
	rated_statement_js.inc.html copies the template into the actual
	callout nodes hidden inside each of the result boxes that has a callout.
	-->
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			var real_table = jQuery('#country_spms_table');
			jQuery('.country_spms_placeholder').replaceWith(real_table);
		});
	</script>
	
	{% include 'rated_statement_js.inc.html' %}
{% endblock %}

{% block heading %}Country Scorecard for {{country.country}}{% endblock %}

{% block content %}
{% include 'ajax-loading.html' %}
<div class="scorecard country">
	<!-- start scorecard col-->
	<div id="scorecard" class="col">
		{% include 'rated_statements.inc.html' %}		
	</div><!-- #scorecard col -->
	
	<!--start infoboxes column-->
	<div id="infobox" class="col">
		<div class="infobox progress">
			<h2 class="has-callout-below" id="progress_heading"><a href="#"
				title="Click to expand">Agencies demonstrating
					progress in {{country.country}}</a></h2>
			<ul class="item logos progress">
				{% for agency in progress_agencies %}
					{% with agency.agency as logo %}
						{% include 'progress.inc.html' %}
					{% endwith %}
				{% endfor %}
			</ul>
			<div style="clear: both;"></div>
		</div>

		<p class="spacer"></p>
		
		<div class="infobox no_progress">	
			<h2 class="has-callout-below" id="noprogress_heading"><a href="#"
				title="Click to expand">Agencies reporting
					limited progress in {{country.country}}</a></h2>
			<ul class="item logos no_progress">
				{% for agency in no_progress_agencies %}
					{% with agency.agency as logo %}
						{% include 'progress.inc.html' %}
					{% endwith %}
				{% endfor %}
			</ul>
			<div style="clear: both;"></div>
		</div>

		<p class="spacer"></p>

		<div class="infobox country-ownership">
			<h2>
				<a href="#" title="Click to expand">
					<img src="{% url ihp-media path='images' %}/flag-60.png"
						alt="Country Ownership and Accountability">Country
					Ownership and Accountability
				</a>
			</h2>
			
			<div class="item" style="background-image:none;margin-top:10px;padding-top:1px;">
				<h3>
					<img src="{% url ihp-media path='images' %}/results-icon-1.png"
						alt="Commitments Documented">Commitments Documented
				</h3>
	
				<ul>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.CD1}}.png"
							alt="{{raw_data.CD1}}" class="rating">Signed
						Agreement
					</li>
				</ul>
	
				<p>{{raw_data.CD2}}</p>
			</div>
			
			<div class="item">
				<h3>
					<img src="{% url ihp-media path='images' %}/results-icon-5.png"
						alt="Health Sector Plan and AIDS Strategies">Health
					Sector Plan and AIDS Strategies
				</h3>
				
				<ul>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSP1}}.png"
							alt="{{raw_data.HSP1}}" class="rating">Includes
						current targets and budgets
					</li>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSP2}}.png"
							alt="{{raw_data.HSP2}}" class="rating">Jointly
						Assessed
					</li>
				</ul>
			</div>
			
			<div class="item">
				<h3>
					<img src="{% url ihp-media path='images' %}/results-icon-6.png"
						alt="Health Sector Aid Effectiveness Monitoring">Health
					Sector Aid Effectiveness Monitoring
				</h3>
				
				<ul>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSM1}}.png"
							alt="{{raw_data.HSM1}}" class="rating">Active
						joint monitoring
					</li>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSM2}}.png"
							alt="{{raw_data.HSM2}}" class="rating">Number
						of development partner missions
					</li>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSM3}}.png"
							alt="{{raw_data.HSM3}}" class="rating">10% of
						seats in the health sector coordination mechanism are
						allocated to civil society 
					</li>
					<li>
						<img src="{% url ihp-media path='images' %}/{{raw_data.HSM4}}.png"
							alt="{{raw_data.HSM4}}" class="rating">Quality of
						civil society engagement health sector policy and
						accountability processes
					</li>
				</ul>
			</div></div><!-- infobox country-ownership -->
		
		<p class="spacer"></p>
		
		<div class="infobox health-financing">
			<h2>
				<a href="#" title="Click to expand">
					<img src="{% url ihp-media path='images' %}/dollars-60.png"
						alt="Health Financing">
					Health Financing
				</a>
			</h2>
	
			<div class="item" style="margin-top: 0;"><!-- overlap the large logo -->
				<h3>Total Health Financing</h3>
				
				<img src="{% url ihp-media path='images' %}/{{country.country}}-barchart-269.png"
					class="barchart" alt="barchart">
					
				<div class="chart-key">
					<div class="key-item">
						<span class="key" style="background-color: #b0c513"></span>
						Domestic Financing
					</div> 
					<div class="key-item">
						<span class="key" style="background-color: #3cb5b8"></span>
						External Financing
					</div></div> 

				<img src="{% url ihp-media path='images' %}/{{country.country}}-piechart-150.png"
					class="pie" alt="pie">
					
				<div class="chart-key">
					<div class="key-item">
						<span class="key" style="background-color: #668d82"></span>
						National Budget (2008/9)
					</div> 
					<div class="key-item">
						<span class="key" style="background-color: #c4d82e"></span>
						Allocated to Health
					</div> 
					<div class="key-item">
						<span class="key" style="background-color: #0e3d3d"></span>
						Increase required to meet
						{% if country.country == "Nepal" %}Government target (10%)
						{% else %}Abuja target (15%)
						{% endif %}
					</div>
				</div> 
			</div>
			
			<div class="item external-financing">
				<h3>External financing using pooled mechanisms</h3>
				<p class="number">{{raw_data.PF1}}</p>
				<p class="bubble"><span class="pointer"></span>{{raw_data.PF2}}</p>
			</div></div><!-- infobox health-financing -->

		<p class="spacer"></p>
		
		<div class="infobox country-systems">
			<h2>
				<a href="#" title="Click to expand">
					<img src="{% url ihp-media path='images' %}/cogs-60.png"
						alt="Country Systems">
					Country Systems
				</a>
			</h2>
			
			<div class="item" style="margin: 15px 0 0;"><!-- overlap the large logo -->
				<div class="item-inner">
					<h3>Public Financial Management</h3>
				
					<p>
						<img src="{% url ihp-media path='images' %}/{{raw_data.PFM1}}.png"
							alt="{{raw_data.PFM1}}" class="rating">
						Reflects good practice (or reform in progress)
					</p>
				</div>

				<div class="item-inner">
					<h3>Procurement</h3>
				
					<p>
						<img src="{% url ihp-media path='images' %}/{{raw_data.PR1}}.png"
							alt="{{raw_data.PR1}}" class="rating">
						Reflects good practice (or reform in progress)
					</p>
				</div>

				<div class="item-inner">
					<h3>Technical Assistance</h3>
				
					<p>
						<img src="{% url ihp-media path='images' %}/{{raw_data.TA1}}.png"
							alt="{{raw_data.TA1}}" class="rating">
						Donor capacity development provided through coordinated programmes
					</p>
				</div>
			</div>
		</div><!-- infobox country-systems -->

		<p class="spacer"></p>
		
		<div class="infobox health-systems">
			<h2>
				<a href="#" title="Click to expand">
					<img src="{% url ihp-media path='images' %}/doctor-60.png"
						alt="Health Systems Strengthening">
					Health Systems Strengthening
				</a>
			</h2>
			
			<div class="item" style="margin-top: 20px;"><!-- clear the large logo -->
				<img class="barchart" alt="barchart"
					src="{% url ihp-media path='images' %}/{{country.country}}-hss-269.png">
			</div></div><!-- infobox health-systems -->
		
		<p class="spacer"></p>
		
		<div class="infobox managing-for-development">
			<h2>
				<a href="#" title="Click to expand">
					<img src="{% url ihp-media path='images' %}/moebius-60.png"
						alt="Managing for Development Results">
					Managing for Development Results
				</a>
			</h2>
			
			<div class="item" style="margin-top: 15px;"><!-- nearly clear the large logo -->
				<img src="{% url ihp-media path='images' %}/{{raw_data.RF1}}.png"
					alt="{{raw_data.RF1}}" class="rating"><h3>National
					Results Framework Agreed</h3>
				<ul>
					<li>{{raw_data.RF2}}</li>
					<li>{{raw_data.RF3}}</li>
				</ul>
			</div>
		
			<div class="item">
				<img src="{% url ihp-media path='images' %}/{{raw_data.HMIS1}}.png"
					alt="{{raw_data.HMIS1}}" class="rating"><h3>Health
					Management Information Systems (HMIS)</h3> 
				<ul>
					<li>{{raw_data.HMIS2}}</li>
				</ul>
			</div>
			
			<div class="item">
				<img src="{% url ihp-media path='images' %}/{{raw_data.DBR1}}.png"
					alt="{{raw_data.DBR1}}" class="rating"><h3>Decisions
					Based on Results</h3> 
				<ul>
					<li>{{raw_data.DBR2}}</li>
				</ul>
			</div>
		
			<div class="item" style="margin-bottom: 0;">
				<img src="{% url ihp-media path='images' %}/{{raw_data.JAR1}}.png"
					alt="{{raw_data.JAR1}}" class="rating"><h3>Joint
					Health Sector</h3> 
				<ul>
					<li>{{raw_data.JAR4}}</li>
				</ul>
			</div></div><!-- infobox managing-for-development -->
	</div><!-- #infobox col -->
</div><!-- scorecard country -->

<div style="display: none">
	<div id="country_spms_table">
		{% include 'country_spms_table.inc.html' %}
	</div>
</div>
{% endblock %}

{% block dummy_tables %}
<div style="display: none">
	<div id="country_spms_content">
		foo foo foo
		<div class="country_spms_placeholder"></div>
		blah blah blah
	</div>
</div>
{% endblock %}
