<li id="datalink_{{agency.agency|cut:" "}}_{{country.country|cut:" "}}">
	<img src="{% url ihp-media path='images' %}/{{logo|cut:" "}}-40.png"
		alt="{{logo}}" class="logo" />
	<span class="name">{{logo}}</span>
	<script type="text/javascript">
jQuery(document).ready(function()
{
	create_tooltip(jQuery('#datalink_{{agency.agency|cut:" "}}_{{country.country|cut:" "}}'),
		{
			content: ajax_loading_html,
			onBeforeShow: function()
			{
				this.load('{% url agency-country-spms-table agency_name=agency.agency country_name=country.country %}');
			}
		});
});
	</script>
</li>
