<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{% block title %}public_base{% endblock %} - IHP+Results Website</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<script type='text/javascript' src='{% url ihp-media path='js/jquery-1.4.4.min.js' %}'></script> 

	<!-- starthead -->
		<link rel="stylesheet" href="{% url ihp-media path='css/public_scorecards.css' %}">
		{% block head %}{% endblock %}
	<!-- endhead -->
</head>
<body>
	<div id="content">
		<!-- <h1>{% block heading %}Public Base{% endblock %}</h1> -->
		<!-- startcontent -->
		{% block content %}{% endblock %}
		<!-- endcontent -->
	</div>
</body>
</html>