<h2>
	<span id="expected_heading" class="expected callout-from">Expected Results</span><span
		id="rating_heading" class="rating callout-from">Progress</span><span
		id="progress_heading" class="progress callout-from">Overall Results</span>{% if agency %}<span
		id="details_heading" class="further-details callout-from">Further Details</span>{% endif %}
</h2>

{% for category in categories %}
	<div class="category">
		<table cellspacing="10" cellpadding="0">
			{% for indicator in category.indicators %}
				<tr class="indicator {%if forloop.last%}last{%endif%}">
					{% if forloop.first %}
						<td class="expected_result callout-from"
							id="spm_{{category.code}}"
							rowspan="{{category.indicators|length}}">
							<p><img
								src="{% url ihp-media path='images' %}/results-icon-{{category.code|cut:'G'|cut:'DP'}}.png"
								alt="icon" class="icon">{{category.expected_result}}</p>
						</td>
					{% endif %}
					
					<td class="rating callout-from" id="rating_{{indicator.code}}"><img
						src="{% url ihp-media path='images' %}/{{indicator.rating}}.png"
						alt="{{indicator.rating}}" class="rating"></td>
					
					<td class="progress datalink-callout-from" id="datalink_{{indicator.code|cut:'G'|cut:'DP'}}"
						>{{indicator.overall_progress}}</td>
						
					{% if agency and forloop.first %}
						<td class="further-details"
							rowspan="{{category.indicators|length}}"
							>{{category.agency_report}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
	
{% endfor %}
