<h2>
	<span id="expected_heading" class="expected callout-from">Expected Results</span><span
		id="rating_heading" class="rating callout-from">Rating</span><span
		id="comment_heading" class="comment callout-from">Overall Progress</span>
</h2>

{% for category in categories %}
	<div class="category">
		<table cellspacing="10" cellpadding="0">
			{% for indicator in category.indicators %}
				<tr class="indicator {%if forloop.last%}last{%endif%}">
					{% if forloop.first %}
						<td class="expected_result callout-from"
							id="spm_{{category.code|cut:'G'|cut:'DP'}}"
							rowspan="{{category.indicators|length}}">
							<p><img
								src="{% url ihp-media path='images' %}/results-icon-{{category.code|cut:'G'|cut:'DP'}}.png"
								alt="icon" class="icon">{{category.expected_result}}</p>
						</td>
					{% endif %}
					
					<td class="rating callout-from" id="rating_{{indicator.code|cut:'G'|cut:'DP'}}"><img
						src="{% url ihp-media path='images' %}/{{indicator.rating}}.png"
						alt="{{indicator.rating}}" class="rating"></td>
					
					<td class="progress" id="datalink_{{indicator.code|cut:'G'|cut:'DP'}}"
						>{{indicator.overall_progress}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	
{% endfor %}
