/*
	IE6 styles for the Dojo wordpress theme.
	This stylesheet is ONLY for IE6 bugfixes.
	Normal rules should go in style.css
	IE7 rules should go in ie7bugs.css
	
	TO CUSTOMIZE:
	Create a new stylesheet in this directory called customie6styles.css, and 
	put your rules in there. It will automatically be loaded after this 
	stylesheet, so you can override any rules with your own.
*/

ol li {
	margin-left: 2em;
}
#flickrrss li,
#flickr-rss-dojo-version li {
	display: inline;
}
#content,
.entry,
blockquote {
	height: 1%;
	position: relative;
}
#wrapper {
	background-image: url("images/bg-sidebar-light.gif");
}
#wp-calendar #today {
	background: #ccc;
}
#sidebar blockquote,
#sidebar .st-tag-cloud,
#sidebar .wp-tag-cloud,
#wp-calendar,
.commentlist .authorcomment,
code,
kbd,
tt,
pre {
	background: #ddd;
}
.st-tag-cloud,
.wp-tag-cloud,
.commentlist .alt,
blockquote,
pre {
	background: #eee;
}
