/*
	IE7 styles for the Dojo wordpress theme.
	This stylesheet is ONLY for IE7 bugfixes.
	Normal rules should go in style.css
	IE6 rules should go in ie6bugs.css
	
	TO CUSTOMIZE:
	Create a new stylesheet in this directory called customie7styles.css, and 
	put your rules in there. It will automatically be loaded after this 
	stylesheet, so you can override any rules with your own.
*/

ol li {
	margin-left: 2em;
}
#flickrrss li,
#flickr-rss-dojo-version li {
	display: inline;
}

#header #access #results h2 {
	font-size:1.1em;
}

#header #access #access-inner .menu-header, 
#header #access #access-inner .menu-header .sub-menu {
	z-index:10;
}

#featured-content {
	overflow:hidden;
}

/*
If we position the featured image AT ALL, because of the IE7 z-index bug,
it MUST stack above the drop-down menus, which makes them pretty unusable.
*/
.home .featured-content img.image-1 {
	position: static;
}

/*
Menu has no drop shadow on IE7, so needs work to separate it from the page
background.
*/
#menu-results-menu ul.sub-menu {
	border-left: 1px solid #eee;
	border-right: 2px solid #888;
	border-bottom: 2px solid #888;
}

/*
If menu headings have relative position, they appear above drop-down menus
earlier in the page in IE7, so we need to disable their relative position,
which makes the drop-down menus positioned relative to the whole page, so
we need to override the explicit top and left too. This makes the menus look
less nice, so we only do it on IE7.
*/
/*
#access .menu-header li, div.menu li {
	position: static;
}
#access #results .menu-header ul ul.sub-menu {
	top: inherit;
	left: inherit;
}
*/
#access #menu-top-menu li { 
	position: static;
}
#access #menu-top-menu li ul.sub-menu {
	top: 0;
	position: relative;
}
